header#header-nav{
	position: relative;
	z-index: 1000;
	position: fixed;
	height: getvwmob(40vw);
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media(min-width: 768px){
		height: 40px;
	}
	@media(min-width: 1282px){
		height: getvw(40vw);
	}
}
.header-wrapper{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@media (min-width: 768px){
		padding-top: 59px;
	}
	@media(min-width: 1282px){
		padding-top: getvw(59vw);
	}
	.logo-wrapper{
		pointer-events: auto;
		line-height: 0;
		width: getvwmob(96vw);
		display: flex;
		z-index: 1000;
		svg.logo-jb{
			width: 100%;
		}
		@media (min-width: 768px){
			width: 134px;
		}
		@media(min-width: 1282px){
			width: getvw(134vw);
		}
	}
}
.link-pages{
	cursor: pointer;
	display: none;
	color:$cream;
	pointer-events: auto;
	opacity: 1;
	letter-spacing: 0.02em;
	
	.line-link{
		color: $cream;
		position: relative;
		line-height: getvwmob(13vw);
		height: getvwmob(10vw);
		display: inline-block;
		&:before,
		&:after{
			position: absolute;
			content: "";
			background: $cream;
			height: getvwmob(2vw);
			width: 0;
			bottom: getvwmob(-4vw);
			transition: all .25s;
		}
		&:before{
			left: 50%;
		}
		&:after{
			right: 50%;
		}

	}
	&:hover{
		.line-link{
			-webkit-animation: translate-up .75s cubic-bezier(.21,0,0,1) forwards;
			animation: translate-up .75s cubic-bezier(.21,0,0,1) forwards;
		}
	}
	&:active{
		.line-link{
			&:before,
			&:after{
				width: 50%;
			}
		}
	}
	@media(min-width: 768px){
		display: inline-block;
		.line-link{
			line-height: 13px;
			height: 10px;
			&:before,
			&:after{
				height: 2px;
				bottom: -4px;
			}
		}
	}
	@media(min-width: 1282px){
		.line-link{
			line-height: getvw(13vw);
			height: getvw(10vw);
		}
		&:before,
		&:after{
			height: getvw(2vw);
			bottom: getvw(-4vw);
		}
	}
}