nav.nav-menu{
	width: 20px;
	// padding: 3px 0;
	margin-right: 15px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.nav-wrapper{
		width: 100%;
		height: 8px;
		position: relative;
		border: none;
		background-color: transparent;
		.menu-line{		
			background-color: $cream;
			height: 2px;
			display: inline-block;
			position: absolute;
			@include transitions-ease(.3s)
		}
		.burger-line-1{
			width: 100%;
			right: 0;
			top: 0;
		}
		.burger-line-2{
			width: 50%;
			right: 0;
			bottom: 0;
		}
		[class*="close-line-"]{
			transform-origin:center;
			width: 0;
			top: 50%;
			left: 50%;
			opacity: 0;
			@include trans-ease-delay(.4s, .3s);
		}
		.close-line-1{
			transform: translate(-50%, -50%) rotate(45deg);
		}
		.close-line-2{
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		&.show{
			[class*="burger-line"]{
				opacity: 0;
				animation-name: none;
			}
			[class*="close-line-"]{
				opacity: 1;
				width: 100%;
				// animation-delay: 3s;
			}
		}
	}
	@media (min-width: 768px) {
		display: none;
	}
}