#side-nav{
	background-color: $orange;
	width: 100vw;
	height: 100vh;
	display: block;
	// padding-top: getvwmob(104vw);
	position: absolute;
	top: 0;
	right: getvwmob(-10vw);	
	transform: translate(0, 100%);
	@include transitions-ease(.9s);
	opacity: 0;
	.row{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media(min-width: 768px){
		display: none;
	}
	.menu-wrapper{
		padding-top: getvwmob(40vw);
		position: relative;
		&:after{
			content: "";
			width: getvwmob(20vw);
			height: getvwmob(2vw);
			background-color: $cream;
			position: absolute;
			top: getvwmob(-2vw);
			left: getvwmob(-25vw);
			border-radius: getvwmob(1vw);
			opacity: .6;
		}
		.menu-item{
			display: flex;
			flex-direction: column;
			font-family: 'TitlingGothicFB light';
			color: $cream;
			margin-bottom: getvwmob(40vw);
			.item-title{
				font-size: getvwmob(16vw);
				font-weight: 100;
				line-height: getvwmob(17vw);
				height: getvwmob(13vw);
				// background-color: red;
				margin-bottom: getvwmob(9vw);
				letter-spacing: 0.02em;
			}
			.item-intro{
				opacity: .6;
				font-size: getvwmob(12vw);
				// background-color: green;
				line-height: getvwmob(15vw);
				height: getvwmob(13vw);
			}
		}
		.social-item{
			.item-intro{
				color: $dark-orange;
			}
			.social-wrapper{
				margin-top: getvwmob(20vw);
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				.social-link{
					width: getvwmob(18vw);
					height: getvwmob(18vw);
					display: inline-block;
					margin-right: getvwmob(40vw);
					@include transitions-ease(.3s)
					svg{
						fill: $dark-orange;
						height: 100%;
					}
					&:hover{
						.social-link{
							color: $cream;
						}
					}
				}
			}
		}
	}
	&.active{
		transform: translate(0, 0);
		opacity: 1;
	}
	.sidenav-elems{
		@include translate(0, getvwmob(40vw));
		@include trans-ease-delay(.4s, .5s);
		opacity: 0;
		&.show{
			@include translate(0,0);
			opacity: 1;
		}
	}
}