#side-nav{
	background-color: $orange;
	width: 100vw;
	height: 100vh;
	display: block;
	padding-top: 104px;
	position: absolute;
	top: 0;
	right: -10px;	
	transform: translate(0, 100%);
	@include transitions-ease(.9s);
	opacity: 0;
	@media(min-width: 768px){
		display: none;
	}
	.menu-wrapper{
		padding-top: 40px;
		position: relative;
		&:after{
			content: "";
			width: 20px;
			height: 2px;
			background-color: $cream;
			position: absolute;
			top: -2px;
			left: -25px;
			border-radius: 1px;
			opacity: .6;
		}
		.menu-item{
			display: flex;
			flex-direction: column;
			font-family: 'TitlingGothicFB light';
			color: $cream;
			margin-bottom: 40px;
			.item-title{
				font-size: 16px;
				font-weight: 100;
				line-height: 17px;
				height: 13px;
				// background-color: red;
				margin-bottom: 9px;
				letter-spacing: 0.02em;
			}
			.item-intro{
				opacity: .6;
				font-size: 12px;
				// background-color: green;
				line-height: 15px;
				height: 13px;
			}
		}
		.social-item{
			.item-intro{
				color: $dark-orange;
			}
			.social-wrapper{
				margin-top: 20px;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				.social-link{
					width: 18px;
					height: 18px;
					display: inline-block;
					margin-right: 40px;
					@include transitions-ease(.3s)
					svg{
						fill: $dark-orange;
						height: 100%;
					}
					&:hover{
						.social-link{
							color: $cream;
						}
					}
				}
			}
		}
	}
	&.active{
		transform: translate(0, 0);
		opacity: 1;
	}
	.sidenav-elems{
		@include translate(0, 40px);
		@include trans-ease-delay(.4s, .5s);
		opacity: 0;
		&.show{
			@include translate(0,0);
			opacity: 1;
		}
	}
}