// Hero slider used in "Home" section
.mobile-hero-slider-wrapper{
	display: none;
}
.hero-slider-wrapper{
	position: relative;
	width: 100%;
	// height: 390px;
	padding-bottom: 121.875%;
	margin-bottom: 20px;

	@media(min-width: 576px){
		padding-bottom: 700px;
	}

	@media(min-width: 768px){
		height:525px;
		padding-bottom: 0;
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media(min-width: 1282px){
		height: getvw(525vw);
		margin-bottom: getvw(10vw);
	}

	.slider-cards-wrapper{
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
		// background-color: red;
		@media(min-width: 768px){
			height: 394px;
		}
		@media(min-width: 1282px){
			height: getvw(394vw);
		}
		.sliding-wrapper{
			position: absolute;
			width: max-content;
			height: 100%;
			display: flex;

			&.smooth-sliding{
				@include transitions-ease(.7s);
			}
		}

		// .smooth-sliding{
		// 	// @include transitions(transform, 0.7s, ease-in-out);
		// }
		.slide-container{
			height: 100%;
			width: 100vw;
			position: relative;
			overflow: hidden;
			img{
				height: 100%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%)
			}
			@media(min-width: 768px){			
				// margin-right: 4.325vw;
				// margin-left: 4.325vw;
				// width: 46vw;
				width: getvw(596vw);
				margin: 0 getvw(55.5vw);
				img{
					// width: 100%;
					height: auto;
				}
			}
		}
		.inactive-slide{
			&::after{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
			}
		}
	}
	button.slide-controller{
		width: 8vw;
		font-size: 12px;
		color: $cream;
		padding: 20px 0;
		background: transparent;
		border: none;
		outline: none;
		z-index: 10;
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&.controller-prev{
			left: calc(8.333333% + 10px);
			text-align: left;
		}
		&.controller-next{
			right: calc(8.333333% + 10px);
			text-align: right;
		}
		span{
			display: block;
		}
		&:hover{		
			span{
				-webkit-animation: upTranslate .6s cubic-bezier(.25,0,0,.8); /* Safari 4.0 - 8.0 */
				animation: upTranslate .6s cubic-bezier(.25,0,0,.8);
			}
		}
		@media(min-width: 768px){
			width: 8.333333%;
			text-align: center;
			color: $dark-brown;
			&.controller-prev{
				// left: 16.666667%;
				left: 0;
				right: 55.26%;
				margin: auto;
				text-align: center;
			}
			&.controller-next{
				// right: 16.666667%;
				right: 0;
				left: 55.26%;
				margin: auto;
				text-align: center;
			}
		}
		@media(min-width: 1282px){
			font-size: getvw(12vw);
			padding: getvw(20vw) 0;
		}
	}
}