/*Normalize*/
// @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

// Import libraries


// Import your files
@import 'global/vars';
@import 'global/mixins';
@import 'global/default';
@import 'global/type';
@import 'global/fonts';
@import 'global/buttons';
@import 'global/grid';
@import 'global/_components';
@import 'global/_keyframes';
@import 'global/animations';
@import 'global/_helpers';

@import 'views/_home';
@import 'views/_ourwork';
@import 'views/_about';
@import 'views/_ourwork-sections';
@import 'views/_contact';
@import 'views/_message';
@import 'views/_thanks';
@import 'views/_project-page';

@import 'modules/_header';
@import 'modules/_nav';
@import 'modules/_footer';
@import 'modules/_grid-lines';
@import 'modules/_grid-lines-full';
@import 'modules/_slider';
@import 'modules/_preloader';
@import 'modules/_menu';

.img-tester{
	opacity: .4;
	pointer-events: none;
	z-index: 99;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	img{
		width: 100%;
		height: 100%;
		display: block;
	}
}