.about-section{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-bg{
	background-image: url("../img/about_bg.jpg");
	position: fixed;
	z-index: -1
}

.about-wrapper{
	position: relative;
	width: 100%;
	@media(992px){	
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	// background: red;
	.slider-wrapper{
		z-index: 1;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

// about component
.about-component{
	font-family: 'TitlingGothicFB light';
	color: $cream;
	@media(min-width: 992px){
		display: flex;
	}

	.header-about{
		// background: green;
		position: relative;
		display: inline-block;
		h1{
			margin-bottom: 20px;
			letter-spacing: 1px;
		}
		@media(min-width: 992px){
			h2{
				font-size: 22px;
				position: absolute;
				top: -28px;
				left: -96px;
				// background: red;
				line-height: 0;
			}
		}
	}

	section.about-info{
		position: relative;
		display: inline-block;
		// background-color: pink;
		.separator-line{
			width: 20px;
			height: 2px;
			margin-top: 20px;
			margin-bottom: 20px;
			background-color: $cream;
			display: block;
			@media(min-width: 992px){
				position: absolute;
				margin: 0;
				top: -22px;
			}
		}

		p{
			width: 100%;
			padding-left: 12.5%;
			line-height: 15px;
			letter-spacing: 1px;
			margin-bottom: 20px;
			@media(min-width: 992px){
				padding-left: 0;
			}
		}

		.social-wrapper{
			padding-left: 12.5%;
			padding-top: 11px;
			a{
				svg{
					fill: $cream;
				}
			}
			@media(min-width: 992px){
				padding-top: 28px;
				padding-left: 0;
				padding-right: 34.333333%;
				a{
					padding-right: 0px;
				}
			}
		}
	}
}