
.contact-section{
	background-color: $brown;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	h2, h1{
		margin-bottom: 20px;
	}
}

.about-block{
	// background-color: red;
	position: relative;
	h1{
		color: $black;
		padding-left: 10%;
	}
	h2{
		color: $dark-brown;
		&.sub-1{display: block;}
		&.sub-2{display: none}
	}
	.arrow-container{
		padding-left: 10%;
		margin-bottom: 40px;
		.arrow-right{
			transform: translateX(-20px);
		}
	}
	&:after{
		content: "";
		width: 2px;
		height: 150px;
		position: absolute;
		right: -35px;
		top: -8px;
		background-color: $cream;
		display: none;
	}
	@media(min-width: 768px){
		h2.sub-1{display: none;}
		h2.sub-2{display: block}
		&:after{
			display: block;
		}
	}
	@media(min-width: 1200px){
		display: inline-block;
		h1{
			padding-left: 0;
			margin-bottom: 0;
			line-height: 50px;
		}
		.arrow-container{
			position: absolute;
			right: 26px;
			bottom: 4px;
			margin-bottom: 0;
			.arrow-right{
				transform: translateX(0px);
			}
		}
	}
}

.social-block{
	display: inline-block;
	ul{
		padding-left: 25%;
	}
	li{
		margin-bottom: 10px;
		a{
			font-size: 12px;
			font-family: 'TitlingGothicFB Standar';
			color: $black;
			@include transitions-ease(.4s)
			&:hover{
				color: $cream
			}
		}
	}
	@media(min-width: 768px){
		ul{
			padding-left: 0;
		}
	}
}

.info-block-wrapper{
	display: inline-block;
	color: $dark-brown;
	font-size: 10px;
	font-family: 'TitlingGothicFB light';
	padding-top: 39px;
	// transform: translateY(16px);
	h3{
		display: none;
	}
	.info-block{
		&:nth-child(2){
			padding-top: 10px;
		}
		&:nth-child(3){
			padding-top: 20px;
		}
	}
	@media(min-width: 768px){
		padding: 0;
		margin-top: 87px;
		display: flex;
		h3{
			display: block;
		}
		.info-block{
			width: 22.22%;
			margin-left: 11.11%;
			display: inline-block;
			// background-color: green;
			padding-left: 5px;
			padding-right: 5px;
			&:nth-child(2){
				padding-top: 0px;
			}
			&:nth-child(3){
				padding-top: 0px;
			}
		}
	}
}
