.index-wrapper{
	width: 100%;
	height: 100%;
}

// shader wrapper
.home-bg{
	background-size: cover;
	background-image: url("../img/Desert.png");
}

// Display WE
.display-wrapper{
	width: 250px;
	height: 134px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	@media(min-width: 768px){
		width: 492px;
		height: 180px;
	}
	@media (min-width: 992px){
		width: 600px;
		height: 218px;
	}
	// @media(min-width: 1282px){
	// 	width: getvw(600vw);
	// 	height: getvw(218vw);
	// 	// background: red;
	// }
	.display-type{
		width: 100%;
		height: 100%;
		white-space: nowrap;
		position: relative;
		h2{
			font-size: 165px;
			font-family: 'Nocturne Serif ExtraBold';
			display: inline-block;
			position: absolute;
			@include transitions-ease(.3s);
			pointer-events: none;
			// especial para tablet
			@media(min-width: 768px){
				font-size: 330px;
			}

			@media (min-width: 992px){
				font-size: 396px;
				height: 100%;
			}
			// @media(min-width: 1282px){
			// 	font-size: getvw(396vw);
			// }
		}
			
		.display-w{
			top: -1px;
			padding-left: 4px;
			line-height: .33em;
			height: 91px;
			@media(min-width: 768px){
				padding-left: 8px;
			}
			@media (min-width: 992px){
				padding-left: 10px;
				line-height: 0.33em;
				height: 0.554em;
			}
			// @media(min-width: 1282px){
			// 	top: getvw(-1vw);
			// 	padding-left: getvw(10vw);
			// }
		}
		.display-e{
			top: -1px;
			right: -3px;
			line-height: 0.355em;
			height: 90px;
			@media(min-width: 768px){
				right: -6px;
			}
			@media (min-width: 992px){
				right: -7px;
				line-height: 0.355em;
				height: 0.548em;
			}
			// @media(min-width: 1282px){
			// 	top: getvw(-1vw)
			// 	right: getvw(-7vw);
			// }
		}
	}

	// Title
	.title-wrapper{
		position: absolute;
		width: 112px;
		height: 48px;
		top: 10px;
		left: 24px;
		@media(min-width: 768px){
			width: 212px;
			height: 90px;
			top: 20px;
			left: 46px;
		}
		@media(min-width: 992px){
			width: 286px;
			height: 94px;
			top: 29px;
			left: inherit;
		}
		// @media(min-width: 1282px){
		// 	width: getvw(286vw);
		// 	height: getvw(94vw);
		// 	top: getvw(29vw);
		// }

		.span-container{
			position: relative;
			width: 100%;
			height: 100%;
			font-family: 'Nocturne Serif ExtraBold';
			font-size: 28px;
			color: $cream;
			@media(min-width: 768px){
				font-size: 52px;
			}
			@media(min-width: 992px){
				font-size: 62px;
			}
			// @media(min-width: 1282px){
			// 	font-size: getvw(62vw);
			// }
			span{
				position: absolute;
				line-height: 0;
				&:first-child{
					display: inline-block;
					top: 9px;
					left: 0px;
				}
				&:nth-child(2){
					font-family: 'TitlingGothicFB light';
					font-size: 15px;
					top: 14px;
					right: -2px;
				}
				&:nth-child(3){
					bottom: 11px;
					left: 0;
				}
				@media(min-width: 768px){
					&:first-child{
						display: block;
						width: 100%;
						top: 20px;
						left: 0;
					}
					&:nth-child(2){
						font-size: 32px;
						right: 0;
						top: 26px;
						bottom: inherit;
					}
					&:nth-child(3){
						right: 0;
						bottom: 20px;
						left:inherit;
					}
				}
				@media(min-width: 992px){
					&:nth-child(2){
						right: inherit;
						left: 1px;
						bottom: 14px;
						top: inherit;
					}
					&:nth-child(3){
						bottom: 23px;
						left:inherit;
					}
				}
				// @media(min-width: 1282px){
				// 	&:first-child{
				// 		top: getvw(20vw);
				// 	}
				// 	&:nth-child(2){
				// 		font-size: getvw(32vw);
				// 		left: getvw(1vw);
				// 		bottom: getvw(14vw);
				// 	}
				// 	&:nth-child(3){
				// 		bottom: getvw(23vw);
				// 	}
				// }
			}
		}
		.line-item{
			position: absolute;
			width: 90px;
			height: 2px;
			bottom: 0px;
			left: auto;
			right: -103px;
			@media(max-width: 768px){
				width: 56px;
				bottom: -48px;
				left: 25%;
			}
			// @media(min-width: 1282px){
			// 	width: getvw(56vw);
			// 	height: vw(2vw);
			// 	right: getvw(-103vw);
			// 	bottom: getvw(-48vw);
			// }
			.lines-wrapper{
				position: relative;
				background-color: $cream;
				transform-origin: 50% 50%;
				width: 100%;
				height: 100%;
				@include transitions-ease(.3s);
			}
		}
	}
	.about-title{
		color: $cream;
		font-size: 10px;
		font-family: 'TitlingGothicFB light';
		width: 95px;
		height: auto;
		display: inline-block;
		position: absolute;
		bottom: -50px;
		right: 5px;
		letter-spacing: .02em;
		.points{
			font-family: 'Nocturne Serif ExtraBold';
			position: absolute;
			display: inline-block;
			position: absolute;
			right: -2px;
			bottom: 2px;
			font-size: 12px;
			letter-spacing: 2px;
			line-height: 0px;
			height: 6px;
		}
		@media(min-width: 768px){
			font-size: 12px;
			width: 170px;
			bottom: -4px;
			br{
				display: none;
			}
			.points{
				right: 3px;
				bottom: 4px;
				font-size: 20px;
				width: 14px;
				height: 8px;
			}
		}
		@media(min-width: 992px){
			right: -3px;
			width: 200px;
			font-size: 14px;
			bottom: -4px;
			line-height: 16px;
		}
		// @media(min-width: 1282px){
		// 	right: getvw(-3vw);
		// 	width: getvw(200vw);
		// 	font-size: getvw(14vw);
		// 	bottom: getvw(-4vw);
		// 	line-height: getvw(16vw);
		// 	.points{
		// 		right: getvw(3vw);
		// 		bottom: getvw(4vw);
		// 		font-size: getvw(20vw);
		// 		width: getvw(14vw);
		// 		height: getvw(8vw);
		// 	}
		// }
	}
	&:hover{
		.display-type h2{
			color: transparent;
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: $black;
		}
		.title-wrapper{
			.span-container span{
				-webkit-animation: display-text .55s cubic-bezier(.25,0,0,.15) forwards;
				animation: display-text .55s cubic-bezier(.25,0,0,.15) forwards;
			}
		}
		.line-item{
			.lines-wrapper{
				opacity: 1;
				transform: scaleX(.4);
			}
		}
		.about-title{
			-webkit-animation: display-text .55s cubic-bezier(.25,0,0,.15) forwards;
			animation: display-text .55s cubic-bezier(.25,0,0,.15) forwards;
		}
	}
}