.index-wrapper{
	width: 100%;
	height: 100%;
}

// shader wrapper
.home-bg{
	background-size: cover;
	background-image: url("../img/Desert.png");
}
// display WE
.display-wrapper{
	width: 250px;
	height: 134px;
	// background-color: cyan;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	@media(min-width: 768px){
		width: 492px;
		height: 180px;
	}
	@media (min-width: 992px){
		width: 600px;
		height: 218px;
	}
	.display-type{
		width: 100%;
		height: 100%;
		white-space: nowrap;
		position: relative;
		h2{
			font-size: 165px;
			font-family: 'Nocturne Serif ExtraBold';
			display: inline-block;
			position: absolute;
			@media(min-width: 768px){
				font-size: 330px;
			}
			@media (min-width: 992px){
				font-size: 396px;
				height: 100%;
			}
		}
		.display-w{
			padding-left: 4px;
			line-height: .33em;
			// background-color: red;
			@media(min-width: 768px){
				top: -1px;
				padding-left: 8px;
			}
			@media (min-width: 992px){
				padding-left: 10px;
				top: -1px;
			}
		}
		.display-e{
			right: -3px;
			line-height: .35em;
			// background-color: green;
			@media(min-width: 768px){
				top: -1px;
				right: -6px;
			}
			@media (min-width: 992px){
				right: -8px;
				top: -1px;
			}
		}
	}

// Title
	.title-wrapper{
		width: 112px;
		height: 46px;
		// background-color: green;
		position: absolute;
		top: 12px;
		left: 25px;
		@media(min-width: 768px){
			top: 20px;
			left: 46px;
			width: 212px;
			height: 90px;
		}
		@media(min-width: 992px){
			top: 30px;
			left: inherit;
			width: 286px;
			height: 94px;
		}

// span section
		.span-container{
			position: relative;
			width: 100%;
			height: 100%;
			font-family: 'Nocturne Serif ExtraBold';
			font-size: 28px;
			color: $cream;
			// background: green;
			@media(min-width: 768px){
				font-size: 52px;
			}
			@media(min-width: 992px){
				font-size: 62px;
			}
			span{
				position: absolute;
				line-height: 0;
				// Create
				&:first-child{
					display: inline-block;
					top: 9px;
					left: 0px;
				}
				// &
				&:nth-child(2){
					font-family: 'TitlingGothicFB light';
					font-size: 15px;
					top: 14px;
					right: 0;
				}
				// Consult
				&:last-child{
					bottom: 11px;
					left: 0;
				}
				@media(min-width: 768px){
					&:first-child{
						display: block;
						width: 100%;
						top: 20px;
						left: 0;
					}
					&:nth-child(2){
						font-size: 32px;
						right: 0;
						top: 26px;
						bottom: inherit;
					}
					&:last-child{
						right: 0;
						bottom: 20px;
						left:inherit;
					}
				}
				@media(min-width: 992px){
					&:nth-child(2){
						right: inherit;
						left: 0;
						bottom: 14px;
						top: inherit;
					}
					&:last-child{
						bottom: 24px;
						left:inherit;
					}
				}
			}

// line decoration
			&:before{
				content:"";
				width: 2px;
				height: 56px;
				background-color: #fff;
				position: absolute;
				bottom: -76px;
				left: 50%;
				transform: translate(-50%)
			}
			@media(min-width: 992px){
				&:before{
					height: 90px;
					bottom: -45px;
					left: auto;
					right: -58px;
					transform: rotate(90deg) translateX(-50%);
				}
			}
		}
	}

	// information about
	p.about-title{
		color: $cream;
		font-size: 10px;
		font-family: 'TitlingGothicFB light';
		// letter-spacing: 20%;
		width: 95px;
		// height: 56px;
		height: auto;
		display: inline-block;
		position: absolute;
		bottom: 1px;
		right: 5px;
		letter-spacing: .02em;
		// background-color: red;
		// span{
		// 	letter-spacing: .05em;
		// }
		&:before{
			content: "..";
			font-family: 'Nocturne Serif ExtraBold';
			position: absolute;
			right: 0;
			bottom: 0;
			font-size: 12px;
			letter-spacing: 2px;
			line-height: 0;
			// transform: translateY(-4px);
			width: 10px;
			height: 4px;
			// background: red;
			display: inline-block;
		}
		@media(min-width: 768px){
			font-size: 12px;
			width: 170px;
			br{
				display: none;
			}
		}
		@media(min-width: 992px){
			right: -4px;
			width: 200px;
			// height: 45px;
			font-size: 14px;
			// bottom: 30px;
			bottom: 0px;
			line-height: 16px;
			// background-color: red;
			&:before{
				right: 4px;
			}
		}
	}
}