.index-wrapper{
	width: 100%;
	height: 100%;
}

// shader wrapper
.home-bg{
	background-size: cover;
	background-image: url("../img/Desert_Still_opt.jpg");
	background-position: center;

	.shader-img{
		display: none;
	}
}

// Display WE
.display-wrapper{
	width: getvwmob(250vw);
	height: getvwmob(134vw);
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	@media(min-width: 768px){
		width: 492px;
		height: 180px;
	}
	@media (min-width: 992px){
		width: 600px;
		height: 218px;
	}
	@media(min-width: 1282px){
		width: getvw(600vw);
		height: getvw(218vw);
		// background: red;
	}
	.display-type{
		width: 100%;
		height: 100%;
		white-space: nowrap;
		position: relative;
		h2{
			font-size: getvwmob(165vw);
			font-family: 'Nocturne Serif ExtraBold';
			display: inline-block;
			position: absolute;
			@include transitions-ease(.3s);
			pointer-events: none;
			// especial para tablet
			@media(min-width: 768px){
				font-size: 330px;
			}

			@media (min-width: 992px){
				font-size: 396px;
				height: 100%;
			}
			@media(min-width: 1282px){
				font-size: getvw(396vw);
			}
		}
			
		.display-w{
			top: getvwmob(-1vw);
			padding-left: getvwmob(4vw);
			line-height: .33em;
			height: getvwmob(91vw);
			@media(min-width: 768px){
				top: -1px;
				padding-left: 8px;
				height: 91px;
			}
			@media (min-width: 992px){
				padding-left: 10px;
				line-height: 0.33em;
				height: 0.554em;
			}
			@media(min-width: 1282px){
				top: getvw(-1vw);
				padding-left: getvw(10vw);
			}
		}
		.display-e{
			top: getvwmob(-1vw);
			right: getvwmob(-3vw);
			line-height: 0.355em;
			height: getvwmob(90vw);
			@media(min-width: 768px){
				top: -1px;
				right: -6px;
				height: 90px;
			}
			@media (min-width: 992px){
				right: -7px;
				line-height: 0.355em;
				height: 0.548em;
			}
			@media(min-width: 1282px){
				top: getvw(-1vw);
				right: getvw(-7vw);
			}
		}
	}

	// Title
	.title-wrapper{
		position: absolute;
		width: getvwmob(112vw);
		height: getvwmob(48vw);
		top: getvwmob(10vw);
		left: getvwmob(24vw);
		@media(min-width: 768px){
			width: 212px;
			height: 90px;
			top: 20px;
			left: 46px;
		}
		@media(min-width: 992px){
			width: 286px;
			height: 94px;
			top: 29px;
			left: inherit;
		}
		@media(min-width: 1282px){
			width: getvw(286vw);
			height: getvw(94vw);
			top: getvw(29vw);
		}

		.span-container{
			position: relative;
			width: 100%;
			height: 100%;
			font-family: 'Nocturne Serif ExtraBold';
			font-size: getvwmob(28vw);
			color: $cream;
			@media(min-width: 768px){
				font-size: 52px;
			}
			@media(min-width: 992px){
				font-size: 62px;
			}
			@media(min-width: 1282px){
				font-size: getvw(62vw);
			}
			span{
				position: absolute;
				line-height: 0;
				&:first-child{
					display: inline-block;
					top: getvwmob(9vw);
					left: 0;
				}
				&:nth-child(2){
					font-family: 'TitlingGothicFB light';
					font-size: getvwmob(15vw);
					top: getvwmob(14vw);
					right: getvwmob(-2vw);
				}
				&:nth-child(3){
					bottom: getvwmob(11vw);
					left: 0;
				}
				@media(min-width: 768px){
					&:first-child{
						display: block;
						width: 100%;
						top: 20px;
						left: 0;
					}
					&:nth-child(2){
						font-size: 32px;
						top: 26px;
						right: 0;
						bottom: inherit;
					}
					&:nth-child(3){
						bottom: 20px;
						right: 0;
						left:inherit;
					}
				}
				@media(min-width: 992px){
					&:nth-child(2){
						right: inherit;
						left: 1px;
						bottom: 14px;
						top: inherit;
					}
					&:nth-child(3){
						bottom: 23px;
						left:inherit;
					}
				}
				@media(min-width: 1282px){
					&:first-child{
						top: getvw(20vw);
					}
					&:nth-child(2){
						font-size: getvw(32vw);
						left: getvw(1vw);
						bottom: getvw(14vw);
					}
					&:nth-child(3){
						bottom: getvw(23vw);
					}
				}
			}
		}
		.line-item{
			position: absolute;
			// width: 90px;
			// height: 2px;
			// bottom: 0;
			// left: auto;
			// right: -103px;
			width: getvwmob(56vw);
			height: getvwmob(2vw);
			bottom: getvwmob(-48vw);
			left: 25%;
			right: getvwmob(-103vw);
			// @media(max-width: 768px){
			// 	width: 56px;
			// 	height: 2px;
			// 	bottom: -48px;
			// 	left: 25%;
			// 	right: -103px;
			// }
			@media(min-width: 768px){
				width: 90px;
				height: 2px;
				bottom: -64px;
				left: 25%;
				right: -103px;
			}
			@media(min-width: 992px){
				width: 90px;
				height: 2px;
				left: initial;
				right: -103px;
				bottom: 0;
			}
			@media(min-width: 1282px){
				width: getvw(90vw);
				height: getvw(2vw);
				right: getvw(-103vw);
			}
			.lines-wrapper{
				position: relative;
				background-color: $cream;
				transform-origin: 50% 50%;
				width: 100%;
				height: 100%;
				@include transitions-ease(.7s);
			}
		}
	}
	.about-title{
		color: $cream;
		font-size: getvwmob(10vw);
		font-family: 'TitlingGothicFB light';
		width: getvwmob(95vw);
		height: auto;
		display: inline-block;
		position: absolute;
		bottom: getvwmob(-50vw);
		right: getvwmob(5vw);
		letter-spacing: .02em;
		.points{
			font-family: 'Nocturne Serif ExtraBold';
			position: absolute;
			display: inline-block;
			position: absolute;
			height: getvwmob(6vw);
			right: getvwmob(-2vw);
			bottom: getvwmob(2vw);
			font-size: getvwmob(12vw);
			letter-spacing: getvwmob(2vw);
			line-height: 0;
		}
		@media(min-width: 768px){
			font-size: 12px;
			width: 170px;
			bottom: -17px;
			right: 5px;
			br{
				display: none;
			}
			.points{
				height: 8px;
				width: 14px;
				right: 3px;
				bottom: 4px;
				font-size: 20px;
				letter-spacing: 2px;
			}
		}
		@media(min-width: 992px){
			right: -3px;
			width: 200px;
			font-size: 14px;
			bottom: -4px;
			line-height: 16px;
		}
		@media(min-width: 1282px){
			right: getvw(-3vw);
			width: getvw(200vw);
			font-size: getvw(14vw);
			bottom: getvw(-4vw);
			line-height: getvw(16vw);
			.points{
				right: getvw(3vw);
				bottom: getvw(4vw);
				font-size: getvw(20vw);
				width: getvw(14vw);
				height: getvw(8vw);
			}
		}
	}
	&:hover{
		.display-type h2{
			color: transparent;
			-webkit-text-stroke-width: getvwmob(2vw);
			-webkit-text-stroke-color: $black;
			@media(min-width: 768px){
				-webkit-text-stroke-width: 2px;
			}
			@media(min-width: 1282px){
				-webkit-text-stroke-width: getvw(2vw);
			}
		}
		.title-wrapper{
			.span-container span{
				-webkit-animation: display-text 1s cubic-bezier(.21,0,0,1) forwards;
				animation: display-text 1s cubic-bezier(.21,0,0,1) forwards;
			}
		}
		.line-item{
			.lines-wrapper{
				opacity: 1;
				transform: scaleX(.4);
			}
		}
		.about-title{
			-webkit-animation: display-text 1s cubic-bezier(.21,0,0,1) forwards;
			animation: display-text 1s cubic-bezier(.21,0,0,1) forwards;
		}
	}
}