.message-section{
	height: 100%;
	background-color: $light-orange;
	color:$dark-brown;
	justify-content: center;
	.center-wrapper{
		margin-top: -6px;
		@media(min-width: 768px){
			margin-top: 45px;
		}
		@media(min-width: 1282px){
			margin-top: getvw(46vw);
		}
	}
	.subtitle-block{
		position: relative;
		left: -1px;
		width: 100%;
		height: 14px;
		margin-bottom: 24px;
		font-weight: 100;
		line-height: 16px;
		letter-spacing: 0.02em;

		@media(min-width: 1282px){
			margin-bottom: getvw(25vw);
			line-height: getvw(16vw);
			height: getvw(14vw);
		}
	}
}
// inputs
.message-section{
	height: 100%;
	background-color: $light-orange;
	color:$dark-brown;
	justify-content: center;
	form#inputs-container{
		width: 100%;
		padding-left: 11.11%;
		@media(min-width: 768px){
			padding-left: calc(33.3333% - -3px);
		}
		@media(min-width: 1282px){
			padding-left: calc(33.3333% - getvw(-3vw));
		}
		.input-wrapper{
			width: 100%;
			// height: 33px;
			height: 30px;
			margin-bottom: 2px;
			display: block;
			position: relative;
			@media(min-width: 768px){
				height: 52px;
			}
			@media(min-width: 1882px){
				height: getvw(52vw);
			}
			input, 
			textarea{
				font-size: 12px;
				width: inherit;
				height: 100%;
				padding: 10px 0;
				font-family: 'TitlingGothicFB light';
				// position: relative;
				color:$cream;
				background-color: transparent;
				display: block;
				border: none;
				outline: none;
				@media(min-width: 768px){
					font-size: 16px;
				}
				@media(min-width: 1282px){
					font-size: getvw(16vw);
					padding: getvw(10vw) 0;
				}
			}
			label{
				font-family: 'TitlingGothicFB light';
				font-size: 12px;
				letter-spacing: 0.02em;
				// pointer-events: none;
				@include transitions-ease(.4s);
				&.placeholder{
					// pointer-events: none;
					position: absolute;
					left: 0px;
					top: 50%;
					transform: translateY(-50%);
					// opacity: 1;
					animation-duration: 1000ms;
					&.active{
						opacity: 0!important;
					}
				}
				@media(min-width: 768px){
					font-size: 16px;
				}
				@media(min-width: 1282px){
					font-size: getvw(16vw);
				}

				&.policy{
					font-size: 10px;
					
					@media(min-width: 768px){
						font-size: 12px;
					}
					@media(min-width: 1282px){
						font-size: getvw(12vw);
					}
				}
			}
			textarea{
				resize: none;
				padding-top: 17px;
				@include transitions-ease(.4s);
				&:focus,
				&.filled{
					height: 120px;
				}
				@media(min-width: 1282px){
					padding-top: getvw(17vw);
					&.filles{
						height: getvw(120vw);
					}
				}
			}
			//-active state
			input:focus ~ label.placeholder,
			input:valid ~ label.placeholder,
			input.filled ~ label.placeholder,
			textarea:focus ~ label.placeholder,
			textarea.filled ~ label.placeholder{
				opacity: 0;
				animation-name: none;
			}
			input:hover ~ label.placeholder,
			textarea:hover ~ label.placeholder{
				color: $cream;
			}
			span.bar{
				width: 100%;
				height: 2px;
				background-color: $cream;
				display: block;
				@media(min-width: 1282px){
					height: getvw(2vw);
				}
				// opacity: 0;
			}
		}
	}
}
// 	// checkbox
.message-section #inputs-container #check-box{
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: auto;
	@media(min-width: 768px){
		padding: 16px 0 19px;
	}
	@media(min-width: 1282px){
		padding: getvw(19vw) 0;
	}
	label{
		position: relative;
		cursor: pointer;
		display: block;
		@include unselectable;
		padding-left: 14px;
		line-height: 1.5em;

		@media (min-width: 768px){
			padding-left: 18px;
		}

		@media(min-width: 1282px){
			padding-left: getvw(18vw);
		}
	}
	input.checkbox{
		position: absolute;
		opacity: 0;
		cursor: pointer;
		width: 0;
		height: 0;
		margin: 0;
	}
	.checkmark{
		position: absolute;
		border: solid 2px $dark-brown;
		border-radius: 100%;
		cursor: pointer;
		height: 9px;
		width: 9px;
		top: 0.25em;
		left: 0px;
		// transform: translateY(-50%);
		@include transitions-ease(.4s);
		@media(min-width: 1282px){
			border: solid getvw(2vw) $dark-brown;;
			height: getvw(9vw);
			width: getvw(9vw);
		}
	}
	input:checked ~ .checkmark{
		background-color: $dark-brown;
	}
}
.message-section .arrow-container{
	// width: 100%;
	margin-top: 2px;
	left: 11.11%;
	position: relative;
	display: inline-flex;
	@include transitions-ease(.4s)
	.arrow-right{
		// margin-left: -20px;
		pointer-events: none;
		span{
			color: $black;
			line-height: 16px;
			height: 13px;
			font-size: 16px;
			font-family: 'Nocturne Serif ExtraBold';
		}
		.rectangle-arrow{
			background-color: $black;
			// @include transitions-ease(.3s)
		}
		svg{
			fill: $black;
		}
	}

	&:hover{
		.arrow-right{
			-webkit-animation: translate-right .8s cubic-bezier(.21,0,0,1) forwards;
			animation: translate-right .8s cubic-bezier(.21,0,0,1) forwards;
		}
		.rectangle-arrow{
			-webkit-animation: editRectArrow .8s cubic-bezier(.21,0,0,1) forwards;
			animation: editRectArrow .8s cubic-bezier(.21,0,0,1) forwards;
			background-color: $cream;
		}
		span{
			// @include transitions-target(color, .8s, .4s);
			color: $cream;
		}
		svg{
			fill: $cream;
		}
	}
	@media(min-width: 768px){	
		margin-top: 15px;
		left: 33.33%;
		a.arrow-right{
			margin-left: -15px;
			span{
				font-size: 22px;
				line-height: 20px;
				height: 19px;
			}
		}	
	}
	@media(min-width: 1282px){
		margin-top: getvw(15vw);
		.arrow-right{
			margin-left: getvw(-15vw);
			span{
				line-height: getvw(22vw);
				height: getvw(20vw);
				font-size: getvw(19vw)
			}
		}
	}
}