.message-section{
	height: 100%;
	background-color: $light-orange;
	color:$dark-brown;
	display: flex;
	// flex-direction: column;
	justify-content: center;
	
	.center-wrapper{
		top: -1.1vw;
		@media(min-width: 768px){
			// padding-top: 259px;
		}
		@media(min-width: 1282px){
			// padding-top: getvw(259vw);
		}
	}

	.subtitle-block{
		position: relative;
		width: 100%;
		height: getvwmob(18vw);
		line-height: getvwmob(22vw);
		margin-bottom: getvwmob(18vw);
		font-weight: 100;
		letter-spacing: 0.02em;
		@media(min-width: 768px){
			height: 18px;
			line-height: 22px;
			margin-bottom: 29px;
		}
		@media(min-width: 1282px){
			height: getvw(18vw);
			line-height: getvw(22vw);
			margin-bottom: getvw(29vw);
		}
	}
}
// input
.message-section{
	height: 100%;
	background-color: $light-orange;
	color:$dark-brown;
	justify-content: center;
	.inputs-container{
		width: 100%;
		padding-left: 11.11%;
		@media(min-width: 768px){
			padding-left: 16.666667%;
		}
		@media(min-width: 1282px){
			padding-left: 33.8333%;
		}
		.inputs-flex{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			flex-wrap: nowrap;
			overflow: hidden;
			height: getvwmob(98vw);
			@media(min-width: 768px){
				height: 156px;
			}
			@media(min-width: 1282px){
				height: getvw(156vw);
			}
		}
		.input-wrapper{
			width: 100%;
			flex-shrink: 0;
			display: block;
			position: relative;
			@media(min-width: 1282px){
				margin-bottom: getvw(2vw);
			}
			input, 
			textarea{
				font-size: getvwmob(12vw);
				width: inherit;
				height: getvwmob(30vw);
				padding: getvwmob(10vw) 0;
				font-family: 'TitlingGothicFB light';
				color:$cream;
				background-color: transparent;
				display: block;
				border: none;
				outline: none;
				@media(min-width: 768px){
					font-size: 16px;
					height: 50px;
					padding: 10px 0;
				}
				@media(min-width: 1282px){
					font-size: getvw(16vw);
					padding: getvw(10vw) 0;
					height: getvw(50vw);
				}
			}
			label{
				font-family: 'TitlingGothicFB light';
				font-size: getvwmob(12vw);
				letter-spacing: 0.02em;
				@include transitions-ease(.4s);
				&.placeholder{
					position: absolute;
					left: 0;
					top: 23.5%;
					animation-duration: 1000ms;
					&.active{
						animation-name: none;
						opacity: 0!important;
					}
				}
				@media(min-width: 768px){
					font-size: 16px;
					&.placeholder{
						top: 31%;
					}
				}
				@media(min-width: 1282px){
					font-size: getvw(16vw);
				}
				&.policy{
					font-size: getvwmob(10vw);
					@media(min-width: 768px){
						font-size: 12px;
					}
					@media(min-width: 1282px){
						font-size: getvw(12vw);
					}
				}
			}
			textarea{
				padding: getvwmob(8vw) 0 getvwmob(10vw);
				resize: none;
				@include transitions-ease(.4s);
				&:focus{
					height: getvwmob(96vw);
				}
				@media(min-width: 768px){
					padding: 19px 0 10px;
					&:focus{
						height: 156px;
					}
				}
				@media(min-width: 1282px){
					padding: getvw(19vw) 0 getvw(10vw);
					&:focus{
						height: getvw(156vw);
					}
				}
			}
			textarea ~ label.placeholder{
				@media(min-width: 768px){
					top: 34%;
				}
			}

			textarea:focus ~ label.placeholder{
				top: getvwmob(16vw);
				animation-name: none;
				@media(min-width: 768px){
					top: 16px;
					transform: translateY(0);
				}
				@media(min-width: 1282px){
					top: getvw(16vw);
				}
			}

			//-active state
			input:focus ~ label.placeholder,
			input:valid ~ label.placeholder,
			input.filled ~ label.placeholder,
			textarea:focus ~ label.placeholder,
			textarea.filled ~ label.placeholder{
				opacity: 0;
				animation-name: none;
				@include transitions-ease(.4s);
			}
			input:hover ~ label.placeholder,
			textarea:hover ~ label.placeholder{
				color: $cream;
			}
			span.bar{
				width: 100%;
				height: getvwmob(2vw);
				background-color: $light-cream;
				display: block;
				@media(min-width: 768px){
					height: 2px;
				}
				@media(min-width: 1282px){
					height: getvw(2vw);
				}
			}
			// &.textarea-wrapper{
			// 	background-color: red;
			// 	display: block;
			// 	&:focus{
			// 		height: 100%;
			// 		transition: all 0.4s ease-out;
			// 	}
			// }
		}
	}
}
// 	// checkbox
.message-section .inputs-container #check-box{
	padding: getvwmob(10vw) 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: auto;
	@media(min-width: 768px){
		padding: 20px 0;
		height: 50px;
	}
	@media(min-width: 1282px){
		padding: getvw(20vw) 0;
		height: getvw(50vw);
	}
	label{
		position: relative;
		cursor: pointer;
		display: block;
		@include unselectable;
		padding-left: getvwmob(14vw);
		line-height: 1.5em;

		@media (min-width: 768px){
			padding-left: 18px;
		}
		@media(min-width: 1282px){
			padding-left: getvw(18vw);
		}
	}
	input.checkbox{
		position: absolute;
		opacity: 0;
		cursor: pointer;
		width: 0;
		height: 0;
		margin: 0;
	}
	.checkmark{
		position: absolute;
		border: solid getvwmob(2vw) $dark-brown;
		border-radius: 100%;
		cursor: pointer;
		height: getvwmob(8vw);
		width: getvwmob(8vw);
		top: 0.25em;
		left: 0;
		@include transitions-ease(.4s);
		@media(min-width: 768px){
			border: solid 2px $dark-brown;
			height: 9px;
			width: 9px;
		}
		@media(min-width: 1282px){
			border: solid getvw(2vw) $dark-brown;;
			height: getvw(9vw);
			width: getvw(9vw);
		}
	}
	input:checked ~ .checkmark{
		background-color: $dark-brown;
	}
}
.message-section .arrow-container{
	width: auto;
	margin-top: getvwmob(4vw);
	margin-left: 11.11%;
	position: relative;
	display: inline-flex;
	@include transitions-ease(.4s);

	.arrow-right{
		margin-left: getvwmob(-20vw);
		// pointer-events: none;

		span{
			color: $black;
			font-size: getvwmob(16vw);
			line-height: getvwmob(16vw);
			height: getvwmob(13vw);
			font-family: 'Nocturne Serif ExtraBold';
			letter-spacing: .02em;
		}
		.rectangle-arrow{
			background-color: $black;
			// @include transitions-ease(.3s)
		}
		svg{
			fill: $black;
		}
	}

	&:hover{
		.arrow-right{
			-webkit-animation: translate-right .8s cubic-bezier(.21,0,0,1) forwards;
			animation: translate-right .8s cubic-bezier(.21,0,0,1) forwards;
		}
		.rectangle-arrow{
			-webkit-animation: editRectArrow .8s cubic-bezier(.21,0,0,1) forwards;
			animation: editRectArrow .8s cubic-bezier(.21,0,0,1) forwards;
			background-color: $cream;
		}
		span{
			// @include transitions-target(color, .8s, .4s);
			color: $cream;
		}
		svg{
			fill: $cream;
		}
	}
	@media(min-width: 768px){	
		margin-top: 16px;
		margin-left: 16.666667%;
		.arrow-right{
			margin-left: -20px;
			span{
				font-size: 22px;
				line-height: 20px;
				height: 19px;
				margin-left: 19px;
			}
		}	
	}
	@media(min-width: 1282px){
		margin-top: getvw(16vw);
		margin-left: 33.8333%;
		.arrow-right{
			margin-left: getvw(-20vw);
			span{
				font-size: getvw(22vw);
				line-height: getvw(20vw);
				height: getvw(19vw);
				margin-left: getvw(19vw);
			}
		}
	}
}