.ourwork-sections-detail{
	height: 100%;
	width: 100%;
	padding: 0
}
// background
.background-wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
// background img full page
.worksections-bg{
	background-image: url("../img/bg-work-section.jpg");
}

//wrapper project section
.sections-p-wrapper{
	position: relative;
	height: 60.8vh;
	background: $orange;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: $cream;
	padding: 0 10px;
	@media(min-width: 992px){
		height: 50vh;
		width: calc(83.34% - 28px);
		// width: 100%;
		float: right;
		white-space: nowrap;
		padding:0 40px 0 0;
	}
	.center-wrapper{
		width: 100%;
		margin-top: 25px;
		@media(min-width: 992px){
			margin-top: 106px;
			display: flex;
			align-items: flex-end;
			padding-left: 4px;
		}
	}
	// mixin wrapper project section
	.about-work{
		position: relative;
		// background-color: red;
		margin-left: 16.666667%;
		width: calc(75% - 5px);
		@media(min-width: 768px){
			display: inline-block;
			margin-left: 20%;
			width: 30%;
			// background: red
		}
		h2{
			font-family: 'TitlingGothicFB Standard';
			font-size: 12px;
			padding-bottom: 7px;
			letter-spacing: .04em;
			// width: 55.55%;
			width: auto;
			position: relative;
			z-index: 10;
			// mobile
			// &:after{
			// 	content: "";
			// 	position: absolute;
			// 	left: 0;
			// 	bottom: -3px;
			// 	width: 100px;
			// 	height: 10px;
			// 	background-color: red;
			// 	opacity: .4;
			// }
			@media(min-width: 758px){
				padding-bottom: 9px;
				font-family: 'TitlingGothicFB light';
				// desk
				// &:after{
				// 	content: "";
				// 	position: absolute;
				// 	bottom: 0;
				// 	left: 0;
				// 	height: 50px;
				// 	width: 100px;
				// 	background-color: yellow;
				// 	opacity: .5;
				// }
			}
		}
		h1{
			font-family: 'Nocturne Serif ExtraBold';
			font-size: 22px;
			padding-bottom: 20px;
			letter-spacing: .1px;
			position: relative;
			z-index: 10;
			width: 100%;
			// &:after{
			// 	content: "";
			// 	position: absolute;
			// 	left: 0;
			// 	bottom: 0;
			// 	background-color: yellow;
			// 	width: 100px;
			// 	height: 20px;
			// 	opacity: .4;
			// }
			@media(min-width: 768px){
				padding-bottom: 0px;
				font-size: 30px;
				letter-spacing: 1px;
				// line-height: 30px;
				// height: 34px;
				height: 25px;
				// background: red;
				line-height: 29px;
				// desk
				// &:before{
				// 	content: "";
				// 	position: absolute;
				// 	top: -9px;
				// 	left: 0;
				// 	height: 10px;
				// 	width: 100px;
				// 	background-color: green;
				// 	opacity: .4;
				// }
				// &:after{
				// 	content: "";
				// 	position: absolute;
				// 	bottom: -20px;
				// 	left: 0;
				// 	height: 28px;
				// 	width: 264px;
				// 	opacity: .4;
				// 	background-color:red;
				// }
			}
		}
		p{
			font-family: 'TitlingGothicFB light';
			font-size: 120px;
			color: $black;
			text-align: left;
			line-height: 120px;
			height: 97px;
			// background: yellow;
			position: absolute;
			left: 22.22%;
			bottom: 4px;
			animation-duration: 2.5s;
			@media(min-width: 768px){
				font-size: 165px;
				line-height: 165px;
				left: 31.3%;
				bottom: -59%;
				// background: green;
				height: 134px;
				letter-spacing: 0.025em;
			}
		}
	}
	.arrow-container{
		margin-left: 16.666667%;
		display: block;
		width: 66.666667%;
		position: relative;
		padding-top: 15px;
		animation-delay:175ms;
		// &:before{
		// 	content: "";
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	background-color: red;
		// 	width: 100px;
		// 	height: 20px;
		// 	opacity: .4;
		// }
		@media(min-width: 768px){
			margin-left: 20%;
			width: 30%;
		}
		@media(min-width: 998px){
			margin-left: 20%;
			padding-left: 6px;
			padding: 0;
		}
	}
	a.arrow-right{
		
		transform: translateX(-20px);
		// background-color: red;
		// @media(min-width: 992px){
		// 	padding: 0;
		// }
	}
}
[class*="project-bg-"]{	
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.project-bg-1{
	background-image: url("../img/project_1_bg.jpg");
}
.project-bg-2{
	background-image: url("../img/project_2_bg.jpg");
}