.ourwork{
	height: 100%;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	.row{
		position: relative;
		margin: auto 0;
		bottom: 0;
		top: 0;
	}
}
.work-bg{
	background-image: url("../img/work_background.jpg");
	background-size: 500%;
	background-position: 50% 15%;
	position: fixed;
	@media(min-width: 768px){
		background-size: 100%;
		background-position: 0% 30%;
	}
}

.works-list{
	padding-top: getvwmob(46vw);
	padding-bottom: getvwmob(63vw);
	@media(min-width: 768px){
		padding-top: 36px;
		padding-bottom: 50px;
	}
	@media(min-width: 1282px){
		padding-top: getvw(36vw);
		padding-bottom: getvw(50vw);
	}
	.wrap-list{
		display: flex;
		flex-direction: column;
	}
}

.project-wrapper{
	margin-top: getvwmob(10vw);
	margin-bottom: getvwmob(10vw);
	opacity: .4;
	a{
		color: $cream;
	}
	p.number-project{
		font-size: getvwmob(16vw);
		line-height: getvwmob(17vw);
		height: getvwmob(14vw);
		position: relative;
	}
	@media(min-width: 768px){
		margin-top: 50px;
		margin-bottom: 50px;
		p.number-project{
			font-size: 22px;
			line-height: 22px;
			height: 18px;
		}
	}
	@media(min-width: 1282px){
		margin-top: getvw(50vw);
		margin-bottom: getvw(50vw);
		p.number-project{
			font-size: getvw(22vw);
			line-height: getvw(22vw);
			height: getvw(18vw);
		}
	}
	.name-project{
		margin: getvwmob(7vw) 0 getvwmob(10vw);
		padding-right: 30%;
		position: relative;
		font-family: 'Nocturne Serif ExtraBold';
		h2{
			font-size: getvwmob(22vw);
			letter-spacing: .020em;
		}
		@media(min-width: 768px){
			margin: 12px 0 26px;
			padding-right: 0;
			h2{
				font-size: 50px;
				display: inline-block;
				&:last-child{
					margin-left: 5px;
				}
			}
		}
		@media(min-width: 1282px){
			margin: getvw(12vw) 0 getvw(26vw);
			h2{
				font-size: getvw(50vw);
				&:last-child{
					margin-left: getvw(5vw);
				}
			}
		}
	}
	.arrow-right{
		justify-content: flex-end;
		display: flex;
		@media(min-width: 1200px){
			padding-right: 153px;
		}
		@media(min-width: 1282px){
			padding-right: getvw(153vw);
		}
		.arrow-wrapper{
			@media(min-width: 768px){
				width: 320px;
				.rectangle-arrow{
					width: 292px;
				}
			}
			@media(min-width: 1282px){
				width: getvw(320vw);
				.rectangle-arrow{
					width: getvw(292vw);
				}
			}
		}
		span{
			margin-left: getvwmob(30vw);
			letter-spacing: .020em;
			&.callTo-1{
				display: none;
				@media(min-width: 992px){
					display: block;
				}
			}
			&.callTo-2{
				display: block;
				@media(min-width: 992px){
					display: none !important;
				}
			}
			@media(min-width: 768px){
				margin-left: 30px;
			}
			@media(min-width: 1282px){
				margin-left: getvw(30vw);
			}
		}
	}
	&:hover{
		opacity: 1;
		animation-name: none;
		.number-project, 
		.name-project{
			-webkit-animation: translate-up .6s cubic-bezier(.25,0,0,.8);
			animation: translate-up .6s cubic-bezier(.25,0,0,.8);
			animation-fill-mode: forwards;
		}
		.arrow-right{
			-webkit-animation: translate-right .6s cubic-bezier(.25,0,0,.8);
			animation: translate-right .6s cubic-bezier(.25,0,0,.8);
			animation-fill-mode: forwards
		}
		.rectangle-arrow{		
			-webkit-animation: editRectArrow .6s cubic-bezier(.21,0,0,1);
			animation: editRectArrow .6s cubic-bezier(.21,0,0,1);
			animation-fill-mode: forwards
		}
	}
}
