// .project-page{
// 	height: 100%;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }
.project-page{
	font-family: 'TitlingGothicFB light';
	background-color: $gray;
	padding: 0;
	position: relative;
	// &:after{
	// 	content: "";
	// 	position: absolute;
	// 	left: 0;top: 0;
	// 	width: 100%;
	// 	height: 256px;
	// 	background-color: cyan;
	// }
	.project-title{
		font-size: 22px;
		font-family: 'Nocturne Serif ExtraBold';
		@media(min-width: 768px){
			font-size: 30px;
		}
	}
}
section.project-about{
	background-color: $orange;
	color: $cream;
	height: 460px;
	width: 100%;
	padding: 150px 10px 270px;

	background-image: url("../img/project_1_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	// mob
	// &:after{
	// 	content: "";
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 136px;
	// 	background-color: red;
	// 	top: 0;
	// 	left: 0;
	//	opacity: .4
	// }
	@media(min-width: 768px){
		height: 525px;
		padding: 238px 0 0;
		margin-bottom: 10px;
		// padding: 0 5px;
	}
	.info-wrapper{
		text-align: center;
		z-index: 2;
		position: relative;
		h2, h1, span{
			display: block;
		}
		.subtitle-block{
			font-size: 12px;
			padding-bottom: 6px;
			width: 60%;
			margin-left: 20%;
			font-family: 'TitlingGothicFB Standard';
			position: relative;
			font-weight: 100;
			// mob
			// &:after{
			// 	content: "";
			// 	position: absolute;
			// 	left: 0;
			// 	bottom: -4px;
			// 	background-color: red;
			// 	width: 100%;
			// 	height: 10px;
			// 	opacity: .4;
			// }
		}
		// mob
		// h1{
		// 	position: relative;
		// 	&:after{
		// 		content: "";
		// 		position: absolute;
		// 		left: 0;
		// 		bottom: -168px;
		// 		height: 173px;
		// 		width: 100%;
		// 		background-color: red;
		// 		opacity: .4;
		// 	}
		// }
		.display-number{
			position: absolute;
			color: $black;
			font-size: 165px;
			line-height: 166px;
			font-family: 'TitlingGothicFB light';
			// left: 50%;
			// top: 50%;
			left: 10%;
			top: -73%;

			animation-duration:1s;
			// top: 50%;
			// transform: translate(-50%, -50%);
			// transform: translate(-50%, -42%);
			// z-index: -1;
			// transform: translate(-52%, -42%);
			z-index: -1;
			letter-spacing: .02em;
			// background: red;
			height: 133px;
		}
		@media(min-width: 768px){
			.subtitle-block{
				width: 50%;
				margin-left: 25%;
				font-family: 'TitlingGothicFB light';
				// desk
				// &:after{
				// 	content: "";
				// 	position: absolute;
				// 	left: 0;
				// 	bottom: -4px;
				// 	background-color: red;
				// 	width: 100px;
				// 	height: 10px;
				// 	opacity: .4;
				// }
			}
			.display-number{
				// transform:translate(-46%, -52%);
				letter-spacing: inherit;
				left: 30%;
				top: -75%;
			}
		}
	}
	aside.especifications{
		background-color: $brown;
		width: 100%;
		font-size: 12px;
		// padding: 40px calc(10% - 5px);
		padding: 40px 0;
		transform: translateY(calc(100% - 119px));
		position: relative;
		.snj-row{
			margin-right: 0;
			margin-left: 0;
		}
		&:after{
			content: "";
			width: 2px;
			height: 75px;
			position: absolute;
			left: 50%;
			top: -75px;
			background-color: $brown;
			@media(min-width: 768px){
				display: none;
			}
		}
		.especific-item{
			// padding: 20px 0 0 calc(10% + 5px);
			padding: 22px 0 18px;
			position: relative;
			h4, h5{
				font-size: 12px;
				padding-left: 20%;
				animation-duration: 700ms;
				font-weight: 100;
			}
			h4{
				margin-bottom: 7px;
				position: relative;
				font-family: 'TitlingGothicFB Standard';
			}
			span.line-item{
				position: absolute;
				top: 0px;
				left: 10%;
				width: 10px;
				height: 2px;
				.line{
					background-color: $cream;
					width: 100%;
					height: 100%;
				}
			}
			&:last-child{
				padding-bottom: 0;
			}
		}
		@media(min-width: 768px){
			background-color: transparent;
			padding: 108px 0px 0px;
			transform: translateY(0);
			display: flex;
			flex-direction: row;
			.snj-row{
				width: 100%;
				margin: 0;
			}
			.especific-item{
				padding: 12px 0 12px 15px;
				span.line-item{
					left: 5px;
				}
				h4, h5{
					padding-left: 0;
				}
			}
		}
	}
}
section.project-description{
	background-color: $gray;
	width: 100%;
	display: flex;
	padding:202px 10px 26px;
	// position: relative;
	// mob
	// &:after{
	// 	content: "";
	// 	position: absolute;
	// 	left: 0;
	// 	bottom: 0;
	// 	height: 49px;
	// 	width: 100%;
	// 	background-color: green;
	// 	opacity: .4;
	// }
	.project-title{
		margin-top: 13px;
		margin-bottom: 17px;
		width: 100%;
		position: relative;
		// mob
		// &:after{
		// 	content: "";
		// 	position: absolute;
		// 	bottom: -19px;
		// 	left: 0;
		// 	height: 24px;
		// 	width: 100%;
		// 	background-color: green;
		// 	opacity: .4;
		// }
	}
	p{
		margin-bottom: 20px;
	}
	@media(min-width: 768px){
		background-color: #a2a7a3;
		margin-bottom: 10px;
		padding: 65px 0 128px;
		.project-title{
			margin-top: 50px;
			margin-bottom: 50px;
			width: 50%;
			position: relative;
			// desk
			// &:after{
			// 	content: "";
			// 	position: absolute;
			// 	width: 100px;
			// 	height: 58px;
			// 	bottom: -51px;
			// 	left: 0;
			// 	background-color: red;
			// }
		}
		a{
			color: $cream;
			cursor: pointer;
		}
		div{
			width: 50%;
			display: inline-block;
			float: left;
			.paragraph-left{
				padding-right: 5px;
			}
			.paragraph-right{
				padding-left: 5px;
			}
		}
	}
}
[class*="p-photo"]{
	position: relative;
	img{
		position: absolute;
	}
}
.p-photo1{
	width: 100%;
	height: 525px;
	overflow: hidden;
	margin-bottom: 20px;
	img{
		height: 100%;
		top: 5%;
		left: -50%;
	}
	@media(min-width: 768px){
		margin-bottom: 10px;
		img{		
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%)
		}
	}
}
.img-wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	@media(min-width: 768px){
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 10px;
	}
}
.p-photo3, .p-photo2{
	height: 220px;
	width: 100%;
	overflow: hidden;
	img{
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
	@media(min-width: 768px){
		height: 525px;
		&.p-photo3{
			width: calc(50% - 5px);
			padding-left: 0;
			// float: left;
		}		
		&.p-photo2{
			width: calc(50% - 5px);
			padding-right: 0;
			// float: right;
		}
	}
}

section.sliderwrapper{
	height: 390px;
	width: 100%;
	// background-color: $black;
	position: relative;
	margin-bottom: 20px;
	button.slide-controller{
		position: absolute;
		color: $cream;
		font-size: 12px;
		top: 50%;
		z-index: 10;
		cursor: pointer;
		transform: translateY(-50%);
		padding: 20px 0;
		&.controller-prev{
			left: calc(8.333333% + 10px)
		}
		&.controller-next{
			right: calc(8.333333% + 10px)
		}
		span{
			display: block;
		}
		&:hover{		
			span{
				-webkit-animation: upTranslate .6s cubic-bezier(.25,0,0,.8); /* Safari 4.0 - 8.0 */
				animation: upTranslate .6s cubic-bezier(.25,0,0,.8);
			}
		}
	}
	.slider-hidden{
		width: 100%;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
		position: absolute;
		top: 0;
		left: 0;
	}
	[class*="slide-item"]{
		width: 100%;
		height: 100%;
		display: inline-block;
		background-size: cover;
		background-position: center;
	}
	// .slide-item-1{
	// 	background-image: url("../img/project-img-4.jpg")
	// }
	@media(min-width: 768px){
		height: 525px;
		margin-bottom: 10px;
		// padding-top: 66px;
		// padding-bottom: 66px;
		button.slide-controller{
			width: 8.333333%;
			text-align: center;
			background-color: transparent;
			color: $dark-brown;
			border: none;
		&.controller-prev{
			left: 16.666667%;
		}
		&.controller-next{
			right: 16.666667%;
			}
		}
		.slider-hidden{
			height: 394px;
			top: 50%;
			transform: translateY(-50%);
			[class*="slide-item"]{
				width: 50%;
				margin-left: 4.166666%;
				margin-right: 4.166666%;
				background-color: red;
			}
		}
	}
}
section.video-wrapper{
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../img/project-img-5.jpg");
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
	video{
		position: absolute;
		top: 0;
		left: 0;
	}
	button{
		display: block;
		margin: 0 auto;
		outline: none;
	}
	@media(min-width: 768px){
		height: 525px;
		margin-bottom: 10px;
	}
}
section.footer-project{
	width: 100%;
	height: 307px;
	padding-top: 76px;
	padding-bottom: 20px;
	color: $dark-orange;
	background-color: $orange;
	font-family: 'TitlingGothicFB Standard';
	text-align: center;
	position: relative;
	// &:before{
	// 	content: "";
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 78px;
	// 	left: 0;
	// 	top: 0;
	// 	background-color: green;
	// 	opacity: .4;
	// }
	// &:after{
	// 	content: "";
	// 	position: absolute;
	// 	left: 0;
	// 	bottom: 0;
	// 	width: 100%;
	// 	height: 78px;
	// 	background-color: green;
	// 	opacity: .4
	// }
	@media(min-width: 768px){
		height: 525px;
		padding-top: 220px;
		display: flex;
		// desk
		// &:after{
		// 	content: "";
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	height: 222px;
		// 	width: 100%;
		// 	background-color: red;
		// 	opacity: .5;
		// }
		// &:before{
		// 	content: "";
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 42px;
		// 	background-color: red;
		// 	opacity: .4;
		// }
	}
	.description{	
		h3{
			font-family: 'Nocturne Serif ExtraBold';
			color: $cream;
			font-size: 22px;
			padding: 6px 0 8px;
			position: relative;
			// /desk
			// &:before{
			// 	content: "";
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 13px;
			// 	background-color: red;
			// 	opacity: .4;
			// }
			// &:after{
			// 	content: "";
			// 	position: absolute;
			// 	left: 0;
			// 	bottom: -1px;
			// 	width: 100%;
			// 	height: 20px;
			// 	background-color: red;
			// 	opacity: .4;
			// }
			// mob
			// &:after{
			// 	content: "";
			// 	position: absolute;
			// 	left: 0;bottom: 0px;
			// 	width: 100%;
			// 	height: 15px;
			// 	background-color: green;
			// 	opacity: .4;
			// }
		}
		h4{
			padding-bottom: 38px;
			position: relative;
			// desk
			// &:before{
			// 	content: "";
			// 	position: absolute;
			// 	bottom: -129px;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 172px;
			// 	background-color: red;
			// 	opacity: .4;
			// }
		}
		a{
			color: $cream;
			position: relative;
		}
		@media(min-width: 768px){
			h3{padding: 10px 0px 14px;}
			p{color: $cream}
			a{display: none}
		}
	}
	.copyright{
		position: absolute;
		bottom: 24px;
		display: block;
		margin: 0 auto;
		width: 100%;
		@media(min-width: 768px){
			bottom: 44px;
		}
	}
}

.arrow-container{
	display: none;
	@media(min-width: 768px){
		display: block;
	}
}
a.more-cases{
	padding-top: 26px;
	color: $cream;
	.arrow-wrapper{
		position: relative;
		display: flex;
		flex-direction: row;
		width: 110px;
		cursor: pointer;
		align-items: center;
		.rectangle-arrow{
			display: inline-block;
			height: 2px;
			width: 81.99px;
			margin-right: 1px;
			background: #ffecd0;
		}
	}
	&.prev-case{
		text-align: left;
		.arrow-wrapper{
			justify-content: flex-start;
			.icon-arrow{
				transform: rotate(180deg);
			}
		}
		&:hover{
			.left-translate{			
				-webkit-animation: translate-left .6s cubic-bezier(.21,0,0,1); /* Safari 4.0 - 8.0 */
				animation: translate-left .6s cubic-bezier(.21,0,0,1);
			}
		}
	}
	&.next-case{
		text-align: right;
		transform: translateX(-15px);
		.arrow-wrapper{
			justify-content: flex-end;
		}
		&:hover{
			.right-translate{			
				-webkit-animation: translate-right .6s cubic-bezier(.21,0,0,1); /* Safari 4.0 - 8.0 */
				animation: translate-right .6s cubic-bezier(.21,0,0,1);
			}
		}
	}
	&:hover{
		.rectangle-arrow{		
			-webkit-animation: editRectArrow .6s cubic-bezier(.21,0,0,1); /* Safari 4.0 - 8.0 */
			animation: editRectArrow .6s cubic-bezier(.21,0,0,1);
		}
	}
}