// .project-page{
// 	height: 100%;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }
.project-page{
	font-family: 'TitlingGothicFB light';
	background-color: $gray;
	padding: 0;
	.project-title{
		font-size: 22px;
		font-family: 'Nocturne Serif ExtraBold';
		@media(min-width: 768px){
			font-size: 30px;
		}
	}
}
section.project-about{
	background-color: $orange;
	color: $cream;
	height: 525px;
	width: 100%;
	padding: 137px 10px 270px;
	background-image: url("../img/project_1_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&:after{
	}
	@media(min-width: 768px){
		padding: 240px 0 0;
		height: 525px;
		margin-bottom: 10px;
		// padding: 0 5px;
	}
	.info-wrapper{
		text-align: center;
		z-index: 2;
		position: relative;
		h2, h1, span{
			display: block;
		}
		h2{
			font-size: 12px;
			padding-bottom: 10px;
			width: 60%;
			margin-left: 20%;
		}
		span{
			position: absolute;
			color: $black;
			font-size: 165px;
			line-height: 0;
			font-family: 'TitlingGothicFB light';
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}
		@media(min-width: 768px){
			h2{
				width: 50%;
				margin-left: 25%;
			}
		}
	}
	aside.especifications{
		background-color: $brown;
		width: 100%;
		font-size: 12px;
		padding: 40px calc(10% - 5px);
		transform: translateY(calc(100% - 73px));
		position: relative;
		&:after{
			content: "";
			width: 2px;
			height: 75px;
			position: absolute;
			left: 50%;
			top: -75px;
			background-color: $brown;
			@media(min-width: 768px){
				display: none;
			}
		}
		.especific-item{
			padding: 20px 0 20px calc(10% + 5px);
			position: relative;
			h4{
				margin-bottom: 10px;
				font-family: 'TitlingGothicFB Standar';
			}
			&:after{
				content: "";
				position: absolute;
				top: 0px;
				left: 0;
				width: 10px;
				height: 2px;
				background-color: $cream;
			}
		}
		@media(min-width: 768px){
			background-color: transparent;
			padding: 108px 0px 0px;
			transform: translateY(0);
			display: flex;
			flex-direction: row;
			.snj-row{
				width: 100%;
				margin: 0;
			}
			.especific-item{
				padding: 20px 15px;
				&:after{
					left: 5px;
				}
			}
		}
	}
}
section.project-description{
	background-color: $gray;
	width: 100%;
	display: flex;
	padding:206px 10px 30px;
	.project-title{
		margin-top: 28px;
		margin-bottom: 28px;
		width: 100%;
	}
	p{
		margin-bottom: 20px;
	}
	@media(min-width: 768px){
		background-color: #a2a7a3;
		padding-top: 65px;
		padding-bottom: 128px;
		margin-bottom: 10px;
		.project-title{
			margin-top: 50px;
			margin-bottom: 50px;
		}
		div{
			width: 50%;
			display: inline-block;
			float: left;
			.paragraph-left{
				padding-right: 5px;
			}
			.paragraph-next{
				padding-left: 5px;
			}
		}
	}
}
[class*="p-photo"]{
	position: relative;
	img{
		position: absolute;
	}
}
.p-photo1{
	width: 100%;
	height: 525px;
	overflow: hidden;
	margin-bottom: 20px;
	img{
		height: 100%;
		top: 5%;
		left: -50%;
	}
	@media(min-width: 768px){
		margin-bottom: 10px;
		img{		
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%)
		}
	}
}
.img-wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	@media(min-width: 768px){
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 10px;
	}
}
.p-photo3, .p-photo2{
	height: 220px;
	width: 100%;
	overflow: hidden;
	img{
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
	@media(min-width: 768px){
		height: 525px;
		&.p-photo3{
			width: calc(50% - 5px);
			padding-left: 0;
			// float: left;
		}		
		&.p-photo2{
			width: calc(50% - 5px);
			padding-right: 0;
			// float: right;
		}
	}
}

section.sliderwrapper{
	height: 390px;
	width: 100%;
	// background-color: $black;
	position: relative;
	margin-bottom: 20px;
	button.slide-controller{
		position: absolute;
		color: $cream;
		font-size: 12px;
		top: 50%;
		z-index: 10;
		cursor: pointer;
		transform: translateY(-50%);
		padding: 20px 0;
		&.controller-prev{
			left: calc(8.333333% + 10px)
		}
		&.controller-next{
			right: calc(8.333333% + 10px)
		}
		span{
			display: block;
		}
		&:hover{		
			span{
				-webkit-animation: upTranslate .6s cubic-bezier(.25,0,0,.8); /* Safari 4.0 - 8.0 */
				animation: upTranslate .6s cubic-bezier(.25,0,0,.8);
			}
		}
	}
	.slider-hidden{
		width: 100%;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
		position: absolute;
		top: 0;
		left: 0;
	}
	[class*="slide-item"]{
		width: 100%;
		height: 100%;
		display: inline-block;
		background-size: cover;
		background-position: center;
	}
	// .slide-item-1{
	// 	background-image: url("../img/project-img-4.jpg")
	// }
	@media(min-width: 768px){
		height: 525px;
		margin-bottom: 10px;
		// padding-top: 66px;
		// padding-bottom: 66px;
		button.slide-controller{
			width: 8.333333%;
			text-align: center;
			background-color: transparent;
			color: $dark-brown;
			border: none;
		&.controller-prev{
			left: 16.666667%;
		}
		&.controller-next{
			right: 16.666667%;
			}
		}
		.slider-hidden{
			height: 394px;
			top: 50%;
			transform: translateY(-50%);
			[class*="slide-item"]{
				width: 50%;
				margin-left: 4.166666%;
				margin-right: 4.166666%;
				background-color: red;
			}
		}
	}
}
section.video-wrapper{
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../img/project-img-5.jpg");
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
	video{
		position: absolute;
		top: 0;
		left: 0;
	}
	button{
		display: block;
		margin: 0 auto;
		outline: none;
	}
	@media(min-width: 768px){
		height: 525px;
		margin-bottom: 10px;
	}
}
section.footer-project{
	width: 100%;
	height: 307px;
	padding-top: 78px;
	padding-bottom: 20px;
	color: $dark-orange;
	background-color: $orange;
	font-family: 'TitlingGothicFB Standar';
	text-align: center;
	position: relative;
	@media(min-width: 768px){
		height: 525px;
		padding-top: 220px;
		display: flex;
	}
	.description{	
		h3{
			font-family: 'Nocturne Serif ExtraBold';
			color: $cream;
			font-size: 22px;
			padding: 10px 0px;
		}
		h4{
			padding-bottom: 40px;
		}
		a{
			color: $cream;
		}
		@media(min-width: 768px){
			p{color: $cream}
			a{display: none}
		}
	}
	.copyright{
		position: absolute;
		bottom: 20px;
		display: block;
		margin: 0 auto;
		width: 100%;
		@media(min-width: 768px){
			bottom: 40px;
		}
	}
}

.arrow-container{
	display: none;
	@media(min-width: 768px){
		display: block;
	}
}
// arrow up
a.arrow-up{
	padding-top: 26px;
	color: $cream;
	.arrow-wrapper{
		position: relative;
		display: flex;
		flex-direction: row;
		width: 110px;
		cursor: pointer;
		align-items: center;
		.rectangle-arrow{
			display: inline-block;
			height: 2px;
			width: 81.99px;
			margin-right: 1px;
			background: #ffecd0;
		}
	}
	&.prev-case{
		text-align: left;
		.arrow-wrapper{
			justify-content: flex-start;
			.icon-arrow{
				transform: rotate(180deg);
			}
		}
		&:hover{
			.left-translate{			
				-webkit-animation: leftTranslate .6s cubic-bezier(.21,0,0,1); /* Safari 4.0 - 8.0 */
				animation: leftTranslate .6s cubic-bezier(.21,0,0,1);
			}
		}
	}
	&.next-case{
		text-align: right;
		transform: translateX(-15px);
		.arrow-wrapper{
			justify-content: flex-end;
		}
		&:hover{
			.right-translate{			
				-webkit-animation: rightTranslate .6s cubic-bezier(.21,0,0,1); /* Safari 4.0 - 8.0 */
				animation: rightTranslate .6s cubic-bezier(.21,0,0,1);
			}
		}
	}
	&:hover{
		.rectangle-arrow{		
			-webkit-animation: editRectArrow .6s cubic-bezier(.21,0,0,1); /* Safari 4.0 - 8.0 */
			animation: editRectArrow .6s cubic-bezier(.21,0,0,1);
		}
	}
}