.project-page{
	font-family: 'TitlingGothicFB light';
	background-color: $gray;
	padding: 0;
	position: relative;
	.project-title{
		font-size: 22px;
		font-family: 'Nocturne Serif ExtraBold';
		@media(min-width: 768px){
			font-size: 30px;
		}
		// @media(min-width: 1282px){
		// 	font-size: getvw(30vw);
		// }
	}
}
section.project-about{
	background-color: $orange;
	color: $cream;
	height: 460px;
	width: 100%;
	padding: 115px 10px 0;
	background-image: url("../img/project_1_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@include flexIt;
	@include flexWrap;

	@media(min-width: 768px){
		height: 525px;
		padding: 196px 0 0;
		margin-bottom: 10px;
	}

	// @media(min-width: 1282px){
	// 	height: getvw(525vw);
	// 	padding: getvw(196vw) 0 0;
	// 	margin-bottom: getvw(10vw)
	// }

	.info-wrapper{
		text-align: center;
		z-index: 2;
		position: relative;
		@include flexAlignSelfTop;

		h2, h1, span{
			display: block;
		}

		.subtitle-wrap{
			position: absolute;
			width: 100%;
			height: 41%;
			@media (min-width: 768px){
				height: 45%;
			}
		}

		.project-wrap{
			position: absolute;
			top: 41%;
			width: 100%;
			height: 59%;
			@media (min-width: 768px){
				top: 45%;
				height: 55%;
				padding-top: 2px;
			}
			// @media (min-width: 1282px){
			// 	padding-top: getvw(2vw);
			// }
		}

		.subtitle-block{
			font-size: 12px;
			bottom: 4px;
			width: 60%;
			margin-left: 20%;
			font-family: 'TitlingGothicFB Standard';
			position: absolute;
			font-weight: 100;
			// @media(min-width: 1282px){
			// 	font-size: getvw(12vw);
			// }
		}

		.display-number{
			position: relative;
			color: $black;
			font-size: 165px;
			line-height: 166px;
			font-family: 'TitlingGothicFB light';
			left: -2%;
			top: 0;
			animation-duration:1s;
			z-index: -1;
			letter-spacing: .02em;
			height: 133px;
		}
		@media(min-width: 768px){
			.subtitle-block{
				width: 50%;
				margin-left: 25%;
				font-family: 'TitlingGothicFB light';
			}
			.display-number{
				letter-spacing: inherit;
				left: 2%;
			}
		}
		// @media(min-width: 1282px){
		// 	.display-number{
		// 		font-size: getvw(165vw);
		// 		line-height: getvw(166vw);
		// 		height: getvw(133vw);
		// 	}
		// }
	}

	.especifications-wrap{
		position: relative;
		@include flexAlignSelfBottom;
	}

	aside.especifications{
		background-color: $brown;
		width: 100%;
		font-size: 12px;
		padding: 40px 0 37px;
		transform:translate3d(0, 181px, 0);
		position: absolute;
		bottom: 0;
		&:after{
			content: "";
			width: 2px;
			height: 75px;
			position: absolute;
			left: 50%;
			top: -75px;
			background-color: $brown;
		}
		@media(min-width: 768px){
			background-color: transparent;
			padding: 0px 0px 64px;
			transform: translate3d(0, 0, 0);
			display: flex;
			flex-direction: row;
			height: 123px;
			@media(min-width: 768px){
				&:after{
					display: none;
				}
			}
		}
		// @media(min-width: 1282px){
		// 	font-size: getvw(12vw);
		// 	padding: 0 0 getvw(64vw);
		// 	height: getvw(123vw);
		// }
		.snj-row{
			margin-right: 0;
			margin-left: 0;
			@media(min-width: 768px){
				width: 100%;
				margin: 0;
			}
		}
		.especific-item{
			padding: 21px 0 17px;
			position: relative;
			h4, h5{
				font-size: 12px;
				padding-left: 20%;
				animation-duration: 700ms;
				font-weight: 100;
			}
			h4{
				margin-bottom: 6px;
				position: relative;
				font-family: 'TitlingGothicFB Standard';
			}
			span.line-item{
				position: absolute;
				top: 0px;
				left: 10%;
				width: 10px;
				height: 2px;
				.line{
					background-color: $cream;
					width: 100%;
					height: 100%;
				}
			}
			&:last-child{
				padding-bottom: 0;
			}
			@media(min-width: 768px){
				padding: 12px 0 12px 10px;
				span.line-item{
					left: 0;
				}
				h4, h5{
					padding-left: 0;
				}
			}
			// @media(min-width: 1282px){
			// 	padding: getvw(12vw) 0 getvw(12vw) getvw(10vw);

			// 	h4, h5{
			// 		font-size: getvw(12vw);
			// 	}
			// 	h4{
			// 		margin-bottom: getvw(6vw);
			// 	}

			// 	span.line-item{
			// 		width: getvw(10vw);
			// 		height: getvw(2vw);
			// 	}
			// }
		}
	}
}
section.project-description{
	background-color: $gray;
	width: 100%;
	display: flex;
	padding:206px 10px 31px;
	.project-title{
		margin-bottom: 13px;
		width: 100%;
		position: relative;
	}
	p{
		margin-bottom: 15px;
	}
	a{
		color: $cream;
		cursor: pointer;
	}
	@media(min-width: 768px){
		background-color: #a2a7a3;
		margin-bottom: 10px;
		padding: 65px 0 128px;
		.project-title{
			margin-top: 50px;
			margin-bottom: 50px;
			width: 100%;
			position: relative;
		}
		p{
			margin-bottom: 16px;
		}
		div{
			width: 50%;
			display: inline-block;
			float: left;
			.paragraph-left{
				padding-right: 5px;
			}
			.paragraph-right{
				padding-left: 5px;
			}
		}
	}
	@media(min-width: 992px){
		.project-title{
			width: 50%;
		}
	}
	// @media(min-width: 1282px){
	// 	margin-bottom: getvw(10vw);
	// 	padding: getvw(65vw) 0 getvw(128vw);
	// 	.project-title{
	// 		margin-top: getvw(50vw);
	// 		margin-bottom: getvw(50vw);
	// 	}
	// 	p{
	// 		margin-bottom: getvw(16vw);
	// 	}
	// 	.paragraph-left{
	// 		padding-right: getvw(5vw);
	// 	}
	// 	.paragraph-right{
	// 		padding-left: getvw(5vw);
	// 	}
	// }
}
[class*="p-photo"]{
	position: relative;
	img{
		position: absolute;
	}
}
.p-photo1{
	width: 100%;
	height: 525px;
	overflow: hidden;
	margin-bottom: 20px;
	img{
		height: 100%;
		// top: 5%;
		left: -50%;
	}
	@media(min-width: 768px){
		margin-bottom: 10px;
		img{		
			// width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%)
		}
	}
	@media(min-width: 1282px){
		height: getvw(525vw);
		// margin-bottom: getvw(10vw);
	}
}
.img-wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	@media(min-width: 768px){
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	// @media(min-width: 1282px){
	// 	margin-bottom: getvw(10vw);
	// }
}
.p-photo3, .p-photo2{
	height: 220px;
	width: 100%;
	overflow: hidden;
	img{
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
	@media(min-width: 768px){
		height: 525px;
		&.p-photo3{
			width: calc(50% - 5px);
			padding-left: 0;
		}		
		&.p-photo2{
			width: calc(50% - 5px);
			padding-right: 0;
		}
	}
	// @media(min-width: 1282px){
	// 	height: getvw(525vw);
	// 	&.p-photo3,
	// 	&.p-photo2{
	// 		width: calc(50% - getvw(5vw));
	// 	}
	// }
}

section.video-wrapper{
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../img/project-img-5.jpg");
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
	video{
		position: absolute;
		top: 0;
		left: 0;
	}
	button{
		display: block;
		margin: 0 auto;
		outline: none;
	}
	@media(min-width: 768px){
		height: 525px;
		margin-bottom: 10px;
	}
	// @media(min-width: 1282px){
	// 	height: getvw(525vw);
	// 	margin-bottom: getvw(10vw);
	// }
}
section.footer-project{
	width: 100%;
	padding-top: 76px;
	padding-bottom: 20px;
	color: $dark-orange;
	background-color: $medium-orange;
	font-family: 'TitlingGothicFB Standard';
	text-align: center;
	position: relative;
	@media(min-width: 768px){
		// height: 525px;
		padding-top: 220px;
		display: flex;
		padding-bottom: 39px;
	}
	// @media(min-width: 1282px){
	// 	// height: getvw(525vw);
	// 	padding-top: getvw(220vw);
	// 	padding-bottom: getvw(39vw);
	// }
	// &:after{
	// 	content: "";
	// 	position: absolute;
	// 	background-color: red;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 20px;
	// 	top: 0;
	// }
	.description{	
		p:not(.copyright){color: $cream;}
		h3{
			font-family: 'Nocturne Serif ExtraBold';
			color: $cream;
			font-size: 22px;
			margin: 7px 0 9px;
			position: relative;
			letter-spacing: .02em;
		}
		h4{
			margin-bottom: 38px;
			position: relative;
			letter-spacing: .02em;
		}
		a{
			color: $cream;
			position: relative;
			letter-spacing: .02em;
		}
		.copyright{
			letter-spacing: .02em;
			margin-top: 74px;
		}
		@media(min-width: 768px){
			h3{
				font-size: 30px;
				margin-bottom: 12px;
			}
			a{display: none}
			.copyright{
				margin-top: 168px;
			}
		}
		// @media(min-width: 1282px){
		// 	h3{
		// 		font-size: getvw(30vw);
		// 		margin: getvw(7vw) 0 getvw(12vw);
		// 	}
		// 	h4{
		// 		padding-bottom: getvw(38vw);
		// 	}
		// 	.copyright{
		// 		margin-top: getvw(168vw);
		// 	}
		// }
	}
}

.arrow-container{
	display: none;
	@media(min-width: 768px){
		display: flex;
		&.container-next{
			justify-content: flex-end;
		}
		&.container-prev{
			justify-content: flex-start;
		}
	}
}
a.more-cases{
	margin-top: 24px;
	color: $cream;
	@include flexAlignSelfTop;
	.arrow-wrapper{
		position: relative;
		display: flex;
		flex-direction: row;
		width: 110px;
		cursor: pointer;
		align-items: center;
		.rectangle-arrow{
			display: inline-block;
			height: 2px;
			width: 82px;
			margin-right: 1px;
			background: #ffecd0;
		}
	}
	// @media(min-width: 1282px){
	// 	margin-top: getvw(24vw);
	// 	.arrow-wrapper{
	// 		width: getvw(110vw);
	// 		.rectangle-arrow{
	// 			height: getvw(2vw);
	// 			width: getvw(82vw);
	// 			margin-right: getvw(1vw);
	// 		}
	// 	}
	// }
	&.prev-case{
		text-align: left;
		.arrow-wrapper{
			justify-content: flex-start;
			.icon-arrow{
				transform: rotate(180deg);
			}
		}
		&:hover{
			.left-translate{			
				-webkit-animation: translate-left .6s cubic-bezier(.21,0,0,1); /* Safari 4.0 - 8.0 */
				animation: translate-left .6s cubic-bezier(.21,0,0,1);
			}
		}
	}
	&.next-case{
		text-align: right;
		.arrow-wrapper{
			justify-content: flex-end;
		}
		&:hover{
			.right-translate{			
				-webkit-animation: translate-right .6s cubic-bezier(.21,0,0,1); /* Safari 4.0 - 8.0 */
				animation: translate-right .6s cubic-bezier(.21,0,0,1);
			}
		}
	}
	&:hover{
		.rectangle-arrow{		
			-webkit-animation: editRectArrow .6s cubic-bezier(.21,0,0,1); /* Safari 4.0 - 8.0 */
			animation: editRectArrow .6s cubic-bezier(.21,0,0,1);
		}
	}
}