.thanks-section{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #cdbda5;
	color: $dark-brown;
	@media(min-width: 768px){
		// margin-top: -2px;
	}
	@media(min-width: 1282px){
		// margin-top: getvw(-2vw);
	}
	.title-block{
		color: $black;
		margin-bottom: 16px;
		line-height: 20px;
		height: 18px;
		position: relative;
		letter-spacing: 0.018em;
		@media(min-width: 768px){
			margin-bottom: 12px;
			// margin-top: 8px;
			line-height: 44px;
			height: 40px;
			letter-spacing: .02em;
		}
		// @media(min-width: 1282px){
		// 	margin-bottom: getvw(12vw);
		// 	// margin-top: getvw(8vw);
		// 	line-height: getvw(44vw);
		// 	height: getvw(40vw);
		// }
	}
	p{
		padding-left: 11.11%;
		margin-bottom: 32px;
		line-height: 1.57em;
		position: relative;
		letter-spacing: 0.02em;
		@media(min-width: 768px){
			margin-bottom: 15px;
			line-height: 1.8em;
			padding-left: 16.6667%;
		}
		// @media(min-width: 1282px){
		// 	margin-bottom: getvw(15vw);
		// }
	}
	.social-wrapper{
		padding: 0 11.11% ;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-right: 6px;
		width: 88.57%;
		.social-link{
			height: 18px;
			padding: 0;
			cursor: pointer;
			display: inline-block;
			@include transitions-ease(.3s);
			svg{
				fill: $dark-brown;
				height: 100%;
			}
			&:hover{
				svg{
					fill: $cream;
				}
			}

			// @media (min-width: 1282px){
			// 	height: getvw(18vw);
			// }
		}

		@media(min-width: 768px){
			padding: 0;
			width: 32.23%;
			float: right;
		}
	}
}