// Navigation Buttons
.btn-wrapper{
	cursor: pointer;
	width: 95px;
	height: 29px;
	font-family: 'TitlingGothicFB light';
	font-size: 12px;
	color: $cream;
	background-color: $black;
	border-radius: 15px;
	border-style: none;
	overflow: hidden;
	position: relative;
	span{
		display: block;
		line-height: 0;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	svg {
		path, rect{
			fill:$cream;
		}
	}
	&:hover{
		color: $black;
		background-color: $cream;
		svg {
			path, rect{
				fill: $black;
			}
		}
		// animation time
		.btn-animate-up{
			-webkit-animation: animateup .6s cubic-bezier(.21,0,0,1); /* Safari 4.0 - 8.0 */
			animation: animateup .6s cubic-bezier(.21,0,0,1);
		}
	}
}

// center btn
.btn-pages{
	position: fixed;
	bottom: 10px;
	left: 10px;
	@media (min-width: 768px) {
		top: 50%;
		left: 45px;
		transform: translateY(-50%);
	}
}

.btn-icon{
	padding: 8px;
}

// links general btn
a{
	text-decoration: none;
	font-size: 12px;
	font-family: 'TitlingGothicFB light';
}

.link-page{
	color: $cream;
}

// link btn
.line-link{
	position: relative;
	float: right;
	&:before,
	&:after{
		position: absolute;
		content: "";
		background: $cream;
		height: 2px;
		width: 0;
		bottom: -4px;
		transition: all .25s;
	}
	&:before{
		left: 50%;
	}
	&:after{
		right: 50%;
	}
	&:active{
		&:before,
		&:after{
			width: 50%;
		}
	}
}

// link arrow - - - - - - - - - - - - - - - 
[class*="arrow-"]{
	svg{
		fill: $cream;
	}
}

.arrow-up{
	color: $black;
	display: inline-block;
	span{
		text-align: right;
		display: block;
		margin-bottom: 12px;
	}
}
// ---------
.arrow-scroll{
	span{
		margin-left: 12px;
	}
}

.arrow-right{
	color: $cream;
	display: inline-block;
	width: 100%;
	display: flex;
	flex-direction: row;
	@media(min-width: 768px){
		font-size: 16px;
	}
	&:hover{
		&.rectangle-arrow{
			-webkit-animation: editRectArrow .6s cubic-bezier(.21,0,0,1); /* Safari 4.0 - 8.0 */
			animation: editRectArrow .6s cubic-bezier(.21,0,0,1);
		}
		&.right-translate{
			-webkit-animation: rightTranslate .6s cubic-bezier(.21,0,0,1); /* Safari 4.0 - 8.0 */
			animation: rightTranslate .6s cubic-bezier(.21,0,0,1);
		}	
	}
	// span margin left, version 90px and 300px
	.arrow-wrapper{
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		width: 110px;
		cursor: pointer;
		.rectangle-arrow{
			display: inline-block;
			height: 2px;
			width: 81.99px;
			margin-right: 1px;
			background: $cream;
		}

		svg.icon-arrow{
			flex-shrink: 0;
			width: 7px;
			height: 12px;
		}
	}

	span{
		// width: 120px;
		margin-left: 12px;
		font-size: 12px;
		@media(min-width: 768px){
			font-size: 16px;
		}
	}
}

// video player btn
.btn-circle{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: transparent;
	border: solid 2px $black;
	&:hover{
		background-color: $black;
		color: $cream;
		svg{
			path, rect{
				fill: $cream;
			}
		}
	}
}
// list dot slider
nav.slider-wrapper{
	li.dot-slider{
		display: block;
		position: relative;
		// background-color: green;
		position: relative;
		padding:16px;
		cursor: pointer;

		&:after{
			content: "";
			display: block;
			position: relative;
			width: 5px;
			height: 5px;
			background: $orange;
			border-radius: 50%;
			@include transitions-ease(.4s);
		}
		&:before{
			content: "";
			display: block;
			position: absolute;
			width: 5px;
			height: 5px;
			z-index: -1;
			border:solid 2px $orange;
			opacity: 0;
			border-radius: 50%;
			top: 0; bottom: 0;
			left: 0; right: 0;
			margin: auto;
			@include transitions-ease(.4s);
		}
		&:hover,
		&:active{
			background-color: transparent;
			&:after{
				opacity: 0;
			}
			&:before{
				opacity: 1;
			}
		}
	}
}

// animation keyframes btn wrapper
// animation up
/* Safari 4.0 - 8.0 */
@-webkit-keyframes animateup {
	0% {top: 100%; color: $cream;}
	100% {top: 50%;}
}

/* Standard syntax */
@keyframes animateup {
	0% {top: 100%; color: $cream;}
	100% {top: 50%;}
}

