//Center button navigation
.navigation-btn{
	cursor: pointer;
	width: getvwmob(95vw);
	height: getvwmob(29vw);
	font-family: 'TitlingGothicFB light';
	font-size: getvwmob(12vw);
	color: $cream;
	background-color: $black;
	border-radius: getvwmob(15vw);
	border-style: none;
	overflow: hidden;
	outline: none;
	display: flex;
	z-index: 1000;
	align-items: center;
	@media(min-width: 768px){
		width: 95px;
		height: 29px;
		font-size: 12px;
		border-radius: 15px;
	}
	@media(min-width: 1282px){
		width: getvw(95vw);
		height: getvw(29vw);
		font-size: getvw(12vw);
		border-radius: getvw(15vw)
	}

	span{
		height: getvwmob(13vw);
		&.animate-up{
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
		@media(min-width: 768px){
			height: 13px;
		}
		@media(min-width: 1282px){
			height: getvw(13vw);
		}
		svg {
			path, rect{
				fill:$cream;
			}
		}
	}
	&:hover{
		-webkit-animation: backgroundBtn .2s linear forwards; /* Safari 4.0 - 8.0 */
		animation: backgroundBtn .2s linear forwards;

		.animate-up{
			// color:$black;
			-webkit-animation: fade-up-btn .5s cubic-bezier(.21,0,0,1) forwards;
			animation: fade-up-btn .5s cubic-bezier(.21,0,0,1) forwards;
		}

		svg {
			path, rect{
				fill: $black;
			}
		}
	}
	&:focus{
		background-color: $black;
		color: $cream;
	}
}

// center btn in page
.btn-pages{
	position: fixed;
	bottom: getvwmob(10vw);
	left: getvwmob(10vw);
	@media (min-width: 768px) {
		top: 50%;
		left: 40px;
		transform: translateY(-50%);
	}
	@media(min-width: 1282px){
		bottom: getvw(10vw);
		left: getvw(40vw)
	}
}


// links general btn
a{
	text-decoration: none;
	font-size: getvwmob(12vw);
	font-family: 'TitlingGothicFB light';
	@media(min-width: 768px){
		font-size: 12px;
	}
	@media(min-width: 1282px){
		font-size: getvw(12vw);
	}
}

// link arrow
[class*="arrow-"]{
	svg{
		fill: $cream;
	}
}

.more-cases{
	color: $black;
	display: inline-block;
	span{
		// text-align: right;
		display: block;
		margin-bottom: getvwmob(12vw);
		@media(min-width: 768px){
			margin-bottom: 12px;
		}
		@media(min-width: 1282px){
			margin-bottom: getvw(12vw);
		}
	}
}


.arrow-scroll{
	span{
		margin-left: getvwmob(12vw);
		letter-spacing: .02em;
		@media(min-width: 768px){
			margin-left: 12px;
		}
		@media(min-width: 1282px){
			margin-left: getvw(12vw);
		}
	}
}

.arrow-right{
	color: $cream;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	@media(min-width: 768px){
		font-size: 16px;
	}
	@media(min-width: 1282px){
		font-size: getvw(16vw);
	}

	.arrow-wrapper{
		position: relative;
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		width: getvwmob(110vw);
		cursor: pointer;
		.rectangle-arrow{
			display: inline-block;
			height: getvwmob(2vw);
			width: getvwmob(82vw);
			margin-right: getvwmob(1vw);
			background: $cream;
		}

		.icon-arrow{
			flex-shrink: 0;
		}
		@media(min-width: 768px){
			width: 110px;
			.rectangle-arrow{
				height: 2px;
				width: 82px;
				margin-right: 1px;
			}
		}
		@media(min-width: 1282px){
			width: getvw(110vw);
			.rectangle-arrow{
				height: getvw(2vw);
				width: getvw(82vw);
				margin-right: getvw(1vw);
			}
		}
	}
	span{
		// width: 120px;
		margin-left: getvwmob(12vw);
		font-size: getvwmob(12vw);
		font-family: 'TitlingGothicFB light';
		line-height: getvwmob(11vw);
		height: getvwmob(10vw);
		letter-spacing: .02em;
		@media(min-width: 768px){
			margin-left: 12px;
			font-size: 16px;
			line-height: 18px;
			height: 14px;
		}
		@media(min-width: 1292px){
			margin-left: getvw(12vw);
			font-size: getvw(16vw);
			line-height: getvw(18vw);
			height: getvw(14vw);
		}
	}
}

// =================video player btn=================
.btn-circle{
	width: getvwmob(90vw);
	height: getvwmob(90vw);
	background-color: transparent;
	border: none;
	outline:none;
	border-radius: 50%;
	position: relative;
	@media(min-width: 768px){
		width: 90px;
		height: 90px;
	}
	@media(min-width: 1282px){
		width: getvw(90vw);
		height: getvw(90vw);
	}
	svg{
		fill: $light-brown;
	}
	.icon-video{
		position: absolute;
		top: 0;
		left:0;
		bottom: 0;
		right: 0;
		margin: auto;
		@include transitions-ease(.24s);
		&.play-video{
			width: getvwmob(17vw);
			height: getvwmob(32vw);
		}
		&.pause-icon{
			width:getvwmob(21.69vw);
			height:getvwmob(32vw);
		}
		&.exit-video{
			width:getvwmob(32vw); 
			height:getvwmob(32vw);
		}
		@media(min-width: 768px){
			&.play-video{
				width: 17px;
				height: 32px;
			}
			&.pause-icon{
				width:21.69px;
				height:32px;
			}
			&.exit-video{
				width:32px; 
				height:32px;
			}
		}
		@media(min-width: 1282px){
			&.play-video{
				width: getvw(17vw);
				height: getvw(32vw);
			}
			&.pause-icon{
				width:getvw(21.69vw);
				height:getvw(32vw);
			}
			&.exit-video{
				width:getvw(32vw); 
				height:getvw(32vw);
			}
		}
	}
}
.circle-border-btn{
	[class*="btn-c"]{
		border-radius: 50%;
	}
	.btn-c-init{
		width: 100%;
		height: 100%;
		@include transitions-ease(.4s)
		border: solid 2px $light-brown;
	}
	&:hover{
		.btn-c-init{
			transform-origin: center;
			transform: scale(.7);
			transition-delay: 8ms;
		}
	}
}
.play-btn{
	.btn-c-hover{
		width: 0%;
		height: 0%;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include transitions-ease(.4s);
		overflow: hidden;
		&:after{
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 100%;
			left: 0;
			background-color: green;
			@include transitions-ease(.4s);
			background-color: $cream;
		}
	}
	span{
		font-size: getvwmob(12vw);
		color: $brown;
		font-family: 'TitlingGothicFB Standard';
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		@include transitions-ease(.4s);
		@media(min-width: 768px){
			font-size: 12px;
		}
		@media(min-width: 1282px){
			font-size: getvw(12vw)
		}
	}
	&:hover{
		.btn-c-hover{
			width: 100%;
			height: 100%;
			opacity: 1;
			transition-delay: 8ms;
			background-color: $light-brown;
		}
		span{
			opacity: 1;
			top:50%;
			transition-delay: 8ms;
			// transform: translate(-50%, 0);
		}
		.icon-video{
			transform: translateY(getvwmob(22px));
			opacity: 0;
			@media(min-width: 768px){
				transform: translateY(22px);
			}
			@media(min-width: 1282px){
				transform:translateY(getvw(22vw));
			}
		}
	}
	&:active{
		.btn-c-hover{		
			&:after{
				top: 0;
				background-color: $cream;
			}
		}
	}
}
.close-video{
	border: solid getvwmob(2vw) rgba(203,187,162,1);
	@include transitions-ease(.4s);
	overflow: hidden;
	@media(min-width: 768px){
		border: solid 2px rgba(203,187,162,1);
	}
	@media(min-width: 1282px){
		border: solid getvw(2vw) rgba(203,187,162,1);
	}
	.bg-btn{
		width: 100%;
		height: 100%;
		background-color: $cream;
		position: absolute;
		top: 50%;
		left: 50%;
		transform-origin: center;
		transform: translate(-50%, -50%) scale(0);
		@include transitions-ease(.4s);
		border-radius: 50%;
	}
	.icon-video{
		z-index: 3;
		@include transitions-ease(.4s);
	}
	&:hover{
		border: solid getvwmob(1vw) rgba(203,187,162,0);
		@media(min-width: 768px){
			border: solid 1px rgba(203,187,162,0);
		}
		@media(min-width: 1282px){
			border: solid getvw(1vw) rgba(203,187,162,0);
		}
		.bg-btn{
			background-color: #ffb441;
			transform: translate(-50%, -50%) scale(1);
		}
		.icon-video{
			-webkit-animation: closeBtn .45s cubic-bezier(.4,0,0,.6); /* Safari 3.0 - 8.0 */
			animation: closeBtn .45s cubic-bezier(.4,0,0,.6);
			fill: white;
		}
	}
}
@keyframes closeBtn{
	0%{transform:translateY(getvwmob(0vw)); opacity: 1}
	40% {transform:translateY(getvwmob(26vw)); opacity: 0}
	80% {transform:translateY(getvwmob(26vw)); opacity: 0}
	100% {transform:translateY(getvwmob(0vw)); opacity: 1}
}
@media(min-width: 768px){
	@keyframes closeBtn{
		0%{transform:translateY(0px); opacity: 1}
		40% {transform:translateY(26px); opacity: 0}
		80% {transform:translateY(26px); opacity: 0}
		100% {transform:translateY(0px); opacity: 1}
	}
}
@media(min-width: 1282px){
	@keyframes closeBtn{
		0%{transform:translateY(getvw(0vw)); opacity: 1}
		40% {transform:translateY(getvw(26vw)); opacity: 0}
		80% {transform:translateY(getvw(26vw)); opacity: 0}
		100% {transform:translateY(getvw(0vw)); opacity: 1}
	}
}

// list dot slider
	// Svg ring properties
	$PI: 3.141592;
	$PI2: 6.283185;
	$radius: 4;
	$diameter: $radius * 2;
	$perimeter: $PI * $diameter;

	// Svg animation
	@-webkit-keyframes stroke_animation {
		0% {
			stroke-dashoffset: 0;
		}
		
		100% {
			stroke-dashoffset: $perimeter;
		}
	}

	@keyframes stroke_animation {
		0% {
			stroke-dashoffset: 0;
		}
		
		100% {
			stroke-dashoffset: $perimeter;
		}
	}

nav.slider-wrapper{
	li.dot-slider{
		display: block;
		position: relative;
		position: relative;
		padding: getvwmob(16vw);
		cursor: pointer;

		&:after{
			content: "";
			display: block;
			position: relative;
			width: getvwmob(8vw);
			height: getvwmob(8vw);
			background: $orange;
			border-radius: 50%;
			@include transitions-ease(.4s);
		}

		&:before{
			// content: "";
			// display: block;
			// position: absolute;
			// width: getvwmob(5vw);
			// height: getvwmob(5vw);
			// z-index: -1;
			// border:solid getvwmob(2vw) $orange;
			// opacity: 0;
			// border-radius: 50%;
			// top: 0; bottom: 0;
			// left: 0; right: 0;
			// margin: auto;
			// @include transitions-ease(.4s);
		}

		.svg-dot{
			pointer-events: none;
			position: absolute;
			margin: auto;
			top: 0; bottom: 0;
			left: 0; right: 0;
			width: getvwmob(10vw);
			height: getvwmob(10vw);
			@include rotate(-90deg);

			@media (min-width: 768px){
				width: 10px;
				height: 10px;
			}

			@media(min-width: 1282px){
				width: getvw(10vw);
				height: getvw(10vw);
			}
		}

		.svg-ring{
			pointer-events: none;
			stroke: $orange;
			stroke-width: 2;
			fill: none;
			stroke-dasharray: $perimeter;
			stroke-dashoffset: 0;

			&.animate{
				animation: stroke_animation 10s linear infinite forwards;
			}
		}

		&:hover,
		&.active{
			background-color: transparent;
			&:after{
				opacity: 0;
			}
			&:before{
				// opacity: 1;
			}
		}

		@media(min-width: 768px){
			padding: 16px;

			&:after{
				width: 8px;
				height: 8px;
			}

			&:before{
				// width: 5px;
				// height: 5px;
				// border: solid 2px $orange
			}
		}

		@media(min-width: 1282px){
			padding: getvw(16vw);

			&:after{
				width: getvw(8vw);
				height: getvw(8vw);
			}

			&:before{
				// width: getvw(5vw);
				// height: getvw(5vw);
				// border: solid getvw(2vw) $orange
			}
		}
	}
}