//Center button navigation
.navigation-btn{
	cursor: pointer;
	width: 95px;
	height: 29px;
	font-family: 'TitlingGothicFB light';
	font-size: 12px;
	color: $cream;
	background-color: $black;
	border-radius: 15px;
	border-style: none;
	overflow: hidden;
	outline: none;
	display: flex;
	z-index: 1000;
	// flex-direction: column;
	align-items: center;
	@media(min-width: 1282px){
		width: getvw(95vw);
		height: getvw(29vw);
		font-size: getvw(12vw);
		border-radius: getvw(15vw)
	}
	span{
		height: 13px;
		&.animate-up{
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
		@media(min-width: 1282px){
			height: getvw(13vw);
		}
		// icons
		svg {
			path, rect{
				fill:$cream;
			}
		}
	}
	&:hover{
		-webkit-animation: backgroundBtn .4s linear forwards; /* Safari 4.0 - 8.0 */
		animation: backgroundBtn .4s linear forwards;
		.animate-up{
			color:$black;
			-webkit-animation: fade-up-btn .5s cubic-bezier(.21,0,0,1) forwards;
			animation: fade-up-btn .5s cubic-bezier(.21,0,0,1) forwards;
		}
		svg {
			path, rect{
				fill: $black;
			}
		}
	}
	&:focus{
		background-color: $black;
		color: $cream;
	}
}

// center btn in page
.btn-pages{
	position: fixed;
	bottom: 10px;
	left: 10px;
	@media (min-width: 768px) {
		top: 50%;
		left: 40px;
		transform: translateY(-50%);
	}
	@media(min-width: 1282px){
		bottom: getvw(10vw);
		left: getvw(40vw)
	}
}


// links general btn
a{
	text-decoration: none;
	font-size: 12px;
	font-family: 'TitlingGothicFB light';
	@media(min-width: 1282px){
		font-size: getvw(12vw);
	}
}

// link arrow
[class*="arrow-"]{
	svg{
		fill: $cream;
	}
}

.more-cases{
	color: $black;
	display: inline-block;
	span{
		// text-align: right;
		display: block;
		margin-bottom: 12px;
		@media(min-width: 1282px){
			margin-bottom: getvw(12vw);
		}
	}
}

// ---------
.arrow-scroll{
	span{
		margin-left: 12px;
		letter-spacing: .02em;
		@media(min-width: 1282px){
			margin-left: getvw(12vw);
		}
	}
}

.arrow-right{
	color: $cream;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	@media(min-width: 768px){
		font-size: 16px;
	}
	@media(min-width: 1282px){
		font-size: getvw(16vw);
	}

	.arrow-wrapper{
		position: relative;
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		width: 110px;
		cursor: pointer;
		.rectangle-arrow{
			display: inline-block;
			height: 2px;
			width: 82px;
			margin-right: 1px;
			background: $cream;
		}

		svg.icon-arrow{
			flex-shrink: 0;
			width: 7px;
			height: 12px;
		}
		@media(min-width: 1282px){
			width: getvw(110vw);
			.rectangle-arrow{
				height: getvw(2vw);
				width: getvw(82vw);
				margin-right: getvw(1vw);
			}
			svg.icon-arrow{
				width: getvw(7vw);
				height: getvw(12vw);
			}
		}
	}
	span{
		// width: 120px;
		margin-left: 12px;
		font-size: 12px;
		font-family: 'TitlingGothicFB light';
		line-height: 11px;
		height: 10px;
		letter-spacing: .02em;
		@media(min-width: 768px){
			font-size: 16px;
			line-height: 18px;
			height: 14px;
		}
		@media(min-width: 1292px){
			margin-left: getvw(12vw);
			font-size: getvw(16vw);
			line-height: getvw(18vw);
			height: getvw(14vw);
		}
	}
}

// =================video player btn=================
.btn-circle{
	width: 90px;
	height: 90px;
	background-color: transparent;
	border: none;
	position: relative;
	@media(min-width: 1282px){
		width: getvw(90vw);
		height: getvw(90vw);
	}
	svg{
		fill: $light-brown;
	}
	[class*="btn-c"]{
		border-radius: 50%;
	}
	.btn-c-init{
		width: 100%;
		height: 100%;
		@include transitions-ease(.4s)
		border: solid 2px $light-brown;
	}
	svg.play-video{
		position: absolute;
		top: 0;
		left:0;
		bottom: 0;
		right: 0;
		margin: auto;
		@include transitions-ease(.24s);
	}
	.btn-c-hover{
		width: 0%;
		height: 0%;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include transitions-ease(.4s);
		overflow: hidden;
		&:after{
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 100%;
			left: 0;
			background-color: green;
			@include transitions-ease(.4s);
			background-color: $cream;
		}
	}
	span{
		font-size: 12px;
		color: $brown;
		font-family: 'TitlingGothicFB Standard';
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		@include transitions-ease(.4s);
		@media(min-width: 1282px){
			font-size: 12vw
		}
	}
	&:hover{
		.btn-c-init{
			transform-origin: center;
			transform: scale(.7);
			transition-delay: 8ms;
		}
		.play-video{
			transform: translateY(22px);
			opacity: 0;
			@media(min-width: 1282px){
				transform:translateY(getvw(22vw));
			}
		}
		.btn-c-hover{
			width: 100%;
			height: 100%;
			opacity: 1;
			transition-delay: 8ms;
			background-color: $light-brown;
		}
		span{
			opacity: 1;
			top:50%;
			transition-delay: 8ms;
			// transform: translate(-50%, 0);
		}
	}
	&:active{
		.btn-c-hover{		
			&:after{
				top: 0;
				background-color: $cream;
			}
		}
	}
}
// list dot slider
nav.slider-wrapper{
	li.dot-slider{
		display: block;
		position: relative;
		// background-color: green;
		position: relative;
		padding:16px;
		cursor: pointer;
		@media(min-width: 1282px){
			padding: getvw(16vw)
		}

		&:after{
			content: "";
			display: block;
			position: relative;
			width: 5px;
			height: 5px;
			background: $orange;
			border-radius: 50%;
			@include transitions-ease(.4s);
		}
		&:before{
			content: "";
			display: block;
			position: absolute;
			width: 5px;
			height: 5px;
			z-index: -1;
			border:solid 2px $orange;
			opacity: 0;
			border-radius: 50%;
			top: 0; bottom: 0;
			left: 0; right: 0;
			margin: auto;
			@include transitions-ease(.4s);
		}
		&:hover,
		&:active{
			background-color: transparent;
			&:after{
				opacity: 0;
			}
			&:before{
				opacity: 1;
			}
		}
		@media(min-width: 1282px){
			&:after{
				width: getvw(5vw);
				height: getvw(5vw);
			}
			&:before{
				width: getvw(5vw);
				height: getvw(5vw);
				border: solid getvw(2vw) $orange
			}
		}
	}
}

