// social icons wrapper
.social-wrapper{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	a{
		padding-right: 6px;
		svg{
			// fill: $cream;
			@include transitions-ease(.3s);
			&:hover{
				fill: $white;
			}
		}
	}
}


// work menu project section backgrounds
#branding-work{
	.project-bg-1{
		// background-image: 
	}
	.project-bg-2{
		// background-image: 
	}
}

#event-work{
	.project-bg-1{
		// background-image: 
	}
	.project-bg-2{
		// background-image: 
	}
}

#management-work{
	.project-bg-1{
		// background-image: 
	}
	.project-bg-2{
		// background-image: 
	}
	.project-bg-3{
		// background-image: 
	}
	.project-bg-4{
		// background-image: 
	}
}

#strategy-work{
	.project-bg-1{
		// background-image: 
	}
	.project-bg-2{
		// background-image: 
	}
}