// Default style
*{
	@include border-box;
}

body{
	color: $black;
	font-size: getvwmob(12vw);
	@media(min-width: 768px){
		font-size: 12px;
	}
	@media(min-width: 1282px){
		font-size: getvw(12vw);
	}
}

body, h1, h2, h3, h4, h5, h6, p, section, div, nav, ul, li, button{
	margin: 0;
	padding: 0;
}

#main-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul{
	li{
		list-style: none;
	}
}

canvas{
	z-index: 9999;
	pointer-events: none;
	top: 0; left: 0;

	&.overlay{
		mix-blend-mode: overlay;
	}
}

.activePage{
	display: none;
	

	@media(min-width: 768px){
		display: inline-block;
		position: relative;
		text-decoration: none;
		font-family: 'TitlingGothicFB light';
		height: 1.15em;
		color: $cream;
		font-size: 12px;
	}
	
	@media(min-width: 1282px){
		font-size: getvw(12vw);
	}

	&:before{
		content: '';
		position: absolute;
		bottom: getvwmob(-2vw);
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $cream;

		@media(min-width: 768px){
			bottom: -2px;
		}
		
		@media(min-width: 1282px){
			bottom: getvw(-2vw);
		}
	}
}




