// about, contact header info
.title-block{
	font-size: 22px;
	font-family: 'Nocturne Serif ExtraBold';
	@media(min-width: 768px){
		font-size: 50px
	}
}
.subtitle-block{
	font-size: 16px;
	font-family: 'TitlingGothicFB light';
	@media(min-width: 768px){
		font-size: 22px;
	}
}
.flex-row{
	display: flex;
	flex-direction: row;
}
.flex-column{
	display: flex;
	flex-direction: column;
}
.center-wrapper{
	display: flex;
	flex-wrap: wrap;
}

// animacion tween max
// .translate-up{
// 	transform: translateY(26px);
// 	opacity: 0;
// 	display: inline-block;
// }
// .tween-right{
// 	opacity: 0;
// 	transform: translateX(-20px);
// }
// .project-up{
// 	transform: translateY(20px);
// 	opacity: 0;
// }

// regresar a la página anterior
// a.btn-wrapper.btn-pages(href="javascript:history.back()"