//btn wrapper
@-webkit-keyframes animateup {
	48% {top: 150%;}
	100% {top: 50%;}
}

@keyframes animateup {
	48% {top: 150%;}
	100% {top: 50%;}
}
// BTN WRAPPEER COLOR
@-webkit-keyframes backgroundBtn {
	0%{background-color: $black;}
	40% {background-color: $dark-gray;}
	80% {background-color: #fff;}
	100% {background-color: #fff;}
}

@keyframes backgroundBtn {
	0%{background-color: $black;}
	40% {background-color: $dark-gray;}
	80% {background-color: #fff;}
	100% {background-color: #fff;}
}
// up text translate
@-webkit-keyframes upTranslate {
	0% {transform:translateY(20px); opacity: .01}
	100% {opacity: 1}
}

@keyframes upTranslate {
	0% {transform:translateY(20px); opacity: .01}
	100% {opacity: 1}
}

// right box translate
@-webkit-keyframes rightTranslate {
	0% {transform:translateX(-30px);}
	100% {opacity: 1}
}

@keyframes rightTranslate {
	0% {transform:translateX(-30px); opacity: .01}
	100% {opacity: 1}
}
//left box translate
@-webkit-keyframes leftTranslate {
	0% {transform:translateX(30px);}
	100% {opacity: 1}
}

@keyframes leftTranslate {
	0% {transform:translateX(30px); opacity: .01}
	100% {opacity: 1}
}

// arrow line 
@-webkit-keyframes editRectArrow {
	0% {width: calc(100%); opacity: .01;}
	100% {opacity: 1}
}

/* Standard syntax */
@keyframes editRectArrow {
	0% {width: calc(100%); opacity: .01;}
	100% {opacity: 1}
}