//btn wrapper
@-webkit-keyframes fade-up-btn {
	0%{margin-top: 50px;opacity: 0;}
	48% {margin-top: 50px;}
	100% {margin-top: 0;opacity: 1;}
}

@keyframes fade-up-btn {
	0%{margin-top: 50px;opacity: 0;}
	48% {margin-top: 50px;}
	100% {margin-top: 0;opacity: 1;}
}
// Center btn navigation
@-webkit-keyframes backgroundBtn {
	0%{background-color: $black;}
	40% {background-color: $dark-gray;}
	80% {background-color: #fff;}
	100% {background-color: #fff;}
}

@keyframes backgroundBtn {
	0%{background-color: $black;}
	40% {background-color: $dark-gray;}
	80% {background-color: #fff;}
	100% {background-color: #fff;}
}

// general animations =====

// fade Up
@-webkit-keyframes fade-up{
	0% {transform:translateY(26px); opacity: 0}
	100% {opacity: 1}
}
@keyframes fadeUp {
	0% {transform:translateY(26px); opacity: .01}
	100% {opacity: 1}
}
// scale big-small
@-webkit-keyframes scale-small{
	0%{transform: scale(1.3);}
	100%{transform: scale(1);}
}

// lines
@-webkit-keyframes line-full{
	0%{width: 0%;opacity: 0;}
	100%{width: 100%; opacity: 1;}
}
@-webkit-keyframes line-half{
	0%{width: 0%;opacity: 0;}
	100%{width: 50%; opacity: 1;}
}

// right box translate
@-webkit-keyframes translate-right {
	0% {transform:translateX(-30px);}
	100% {transform:translateX(0);opacity: 1}
}

@keyframes translate-right {
	0% {transform:translateX(-30px); opacity: .01}
	100% {transform:translateX(0);opacity: 1}
}
//left box translate
@-webkit-keyframes leftTranslate {
	0% {transform:translateX(30px);}
	100% {opacity: 1}
}

@keyframes leftTranslate {
	0% {transform:translateX(30px); opacity: .01}
	100% {opacity: 1}
}

// arrow line 
@-webkit-keyframes editRectArrow {
	0% {width: calc(100%); opacity: .01;}
	100% {opacity: 1}
}

/* Standard syntax */
@keyframes editRectArrow {
	0% {width: calc(100%); opacity: .01;}
	100% {opacity: 1}
}

// contact animation display text
@keyframes displayText{
	0%{
		opacity: 1;
	}
	45%{
		transform: translateY(20px);
		opacity: 0;
	}
	50%{
		opacity: 0;
		transform: translateY(-20px);
		color: white;
	}
	100%{
		color:white;
		opacity: 1;
		// transform: translateY(inherit);
	}
}