// Color Scheme

// Black-White
$black: #302c29;
$dark-gray: #a5aaa6;
$gray: #cbcbcb;
$white: #fff;

// Orange
$dark-orange: #a15b2b;
$medium-orange: #d07900;
$orange: #ff9900;
$light-orange: #ffb342;

// Brown
$dark-brown: #7c5e3e;
$brown: #ad976f;
$light-brown: #cbbba2;
$cream: #ffecd0;

// Grid
$snj-grid__maxWidth: 1212px;
$snj-grid__gutterWidth: 10px;
$snj-grid__gutterHalfWidth: $snj-grid__gutterWidth / 2;

// Mobiles/Desktop animation sizes
$mobile-max-width: 767px;
$desktop-min-width: 768px;

// Animation
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$duration_inview: 900ms;
$delay_inview: 200ms;
$duration_preloader: 1s;
