nav.slider-wrapper
	ul#about-slider-dots.slider-list
		li.dot-slider.active.jb-cascade(data-cascade="fade-up" data-p-index=0)
		li.dot-slider.jb-cascade(data-cascade="fade-up" data-p-index=1)
		li.dot-slider.jb-cascade(data-cascade="fade-up" data-p-index=2)