button.btn-wrapper Our Work
button.btn-wrapper.btn-icon
	+close-icon
button.btn-wrapper.btn-icon
	+back-icon-btn
//- prueba links
//- a.line-link.light-font(href="#") About Us

//- links flechas

//- flecha superior
a.arrow-up(href="")
	span.light-font Next Case
	+next-arrow-90
//- flecha izquierda,casos 
a.arrow-right(href="")
	+next-arrow-90
	span See Project

a.arrow-right-long(href="")
	+next-arrow-300
	span See case studies
//- scroll
a.arrow-scroll
	+arrow-scroll
	span.light-font Scroll to explore
//- video player icon
button.btn-circle
	+video-play-icon
button.btn-circle
	+video-pause-icon
button.btn-circle
	+video-exit-icon
//- list slider
nav.slider-wrapper
	ul.slider-list
		li.dot-slider
		li.dot-slider
		li.dot-slider
		li.dot-slider
//- arrow
a.arrow-right(href="")
	+next-arrow-90
	span.extraBold-font See case studies