mixin footer(scroll)
	footer.snj-container-fluid
		//- .row
		#footer-wrapper.snj-col-12
			if scroll
				a.arrow-scroll.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
					+arrow-scroll
					span Scroll to explore
			else
				span.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1") .

			a.link-pages.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1" href="contact.html")
				span.line-link Contact us