mixin footer(scroll, activePage)
	footer.snj-container-fluid
		//- .row
		#footer-wrapper.snj-col-12
			if scroll
				a.arrow-scroll.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
					+arrow-scroll
					span Scroll to explore
			else
				span.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1") .

			if (activePage == 'contact')
				.activePage.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1") Contact us

			else
				a.link-pages.page_transitioner.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1" href="contact.html" color="brown")
					span.line-link Contact us