.grid-wrapper-full
	.snj-container-fluid
		.row
			.snj-col-1
				.bg-column-grid
			.snj-col-1
				.bg-column-grid
			.snj-col-1
				.bg-column-grid
			.snj-col-1
				.bg-column-grid
			.snj-col-1
				.bg-column-grid
			.snj-col-1
				.bg-column-grid
			.snj-col-1
				.bg-column-grid
			.snj-col-1
				.bg-column-grid
			.snj-col-1
				.bg-column-grid
			.snj-col-1
				.bg-column-grid
			.snj-col-1
				.bg-column-grid
			.snj-col-1
				.bg-column-grid