header.snj-container-fluid
	.row
		#header-wrapper.snj-col-12
			a.logo-wrapper.tween-up(href="index.html")
				+logo-jb

			include ../_modules/nav.pug
			a.link-page.line-link.tween-up(href="about.html") About Us