header#header-nav.snj-container-fluid
	.header-wrapper.snj-col-12
		a.logo-wrapper.page_transitioner.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1" href="/")
			+logo-jb
		include ../_modules/side-nav.pug
		include ../_modules/nav-menu.pug

		a.link-pages.page_transitioner.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1" href="about.html")
			span.line-link About us