nav.nav-wrapper
	span.menu-line-1.jb-cascade(data-cascade="line-full" data-cascade-delay-mobile="2" data-cascade-delay="2")
	span.menu-line-2.jb-cascade(data-cascade="line-half" data-cascade-delay-mobile="3" data-cascade-delay="3")