mixin project-sections(subtitle, title, number, linkTo)
	.project-wrapper-section
		.about-work
			.subtitle-wrapper
				h2.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="2" data-cascade-delay="2") #{subtitle}
			.title-wrapper
				h1.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="3" data-cascade-delay="3") #{title}
			span.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1") #{number}

		a.page_transitioner.arrow-container.jb-cascade(data-cascade="fade-right" data-cascade-delay-mobile="3" data-cascade-delay="3" href=linkTo)
			.arrow-right
				.arrow-wrapper
					.rectangle-arrow
					+icon-arrow
				span See project