mixin project-intro(number, name1, name2)
	.project-wrapper
		p.number-project #{number}
		.name-project 
			h2 #{name1}
			h2 #{name2}
		a.arrow-right-long(href="")
			.rectangle-arrow
			+icon-arrow
			span See case