mixin project-sections(subtitle, title, number, linkTo)
	.center-wrapper
		.about-work
			h2 #{subtitle}
			h1 #{title}
			p #{number}
		.arrow-container
			a.arrow-right.right-translate(href=linkTo)
				.arrow-wrapper
					.rectangle-arrow
					+icon-arrow
				span See Case