#side-nav
	.row
		.menu-wrapper.offset-2.snj-col-7
			a.page_transitioner.menu-item.sidenav-elems(href="about")
				h2.item-title About Us
				p.item-intro Know us a little more.
			a.page_transitioner.menu-item.sidenav-elems(href="contact" color="brown")
				h2.item-title Contact Us
				p.item-intro Drop us a line.

			.menu-item.social-item.sidenav-elems
				p.item-intro Or check our social stuff
				.social-wrapper
					a.social-link(href="https://www.linkedin.com/company/jungle-beige" target="_blank" rel="nofollow noopener noreferrer")
						+link-icon
					//- a.social-link(href="https://twitter.com/junglebeige" target="_blank" rel="nofollow noopener noreferrer")
						+tw-icon
					a.social-link(href="https://www.instagram.com/junglebeige/" target="_blank" rel="nofollow noopener noreferrer")
						+ins-icon
