//- seccion de slider
section#home-hero-slider-not-mobile.hero-slider-wrapper.not-mobile-hero-slider-wrapper
	.slider-cards-wrapper
		//- envolvente
		#sliding-wrapper-not-mobile.sliding-wrapper.smooth-sliding
			//- <!-- slide container elemento -->
			.slide-container.slide-0
				img(src="../img/project-img-4.jpg", alt="")
			.slide-container.slide-1
				img(src="../img/project-img-4.jpg", alt="")
			.slide-container.slide-2
				img(src="../img/project-img-4.jpg", alt="")

	button.slide-controller.controller-prev.to-slide(data-slide="prev")
		span.up-translate Prev
	button.slide-controller.controller-next.to-slide(data-slide="next")
		span.up-translate Next