extends _templates/layout.pug


block content
	.about-section.snj-container-fluid.flex-column
		.row
			//- background shader wrapper
			.background-wrapper.about-bg.shader-container
				img.shader-img(src="img/about_shader_bg_opt.png", alt="Night city background")

			.about-wrapper
				//- Slider Controller
				include _modules/about-slider-points.pug
				include _modules/slide-about.pug
				
	a.page_transitioner.navigation-btn.btn-pages(href="ourwork.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1") Our Work



block footer
	+footer('')