extends _templates/layout.pug


block title
	title Jungle Beige | About us


block header_nav
	header#header-nav.snj-container-fluid
		.header-wrapper.snj-col-12
			a.logo-wrapper.page_transitioner.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1" href="index.html")
				+logo-jb


			include _modules/side-nav.pug
			include _modules/nav-menu.pug


			.activePage.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1") About us


block content
	.about-section.snj-container-fluid.flex-column
		.row
			//- background shader wrapper
			.background-wrapper.about-bg.shader-container
				img.shader-img(src="img/shaders/About-Shader.png", mobsrc="img/shaders/mobile/About-Shader.png", alt="Night city background")

			.about-wrapper
				//- Slider Controller
				include _modules/about-slider-points.pug
				include _modules/slide-about.pug
				
	a.page_transitioner.navigation-btn.btn-pages(href="ourwork.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1") Our Work



block footer
	+footer()