extends _templates/layout.pug

block content
	.index-wrapper
		.background-wrapper.home-bg

		//- mobile display
		.display-wrapper
			.display-type.tween-up
				h2.display-w w
				h2.display-e e
			.title-wrapper
				.span-container
					span create
					span &
					span consult
			p.about-title We <br> create and consult for lifestyle cultures and industries such as fashion, hospitality, entertainment and more. 
	//- para caundo se quiere regresar. la pagina anterior
	//- a(href="javascript:history.back()")
	a.btn-wrapper.btn-pages(href="ourwork.html")
		span.btn-animate-up Our Work
block footer
	+footer('')
		