extends _templates/layout.pug

block content
	.index-wrapper
		.background-wrapper.home-bg

		//- mobile display
		.display-wrapper
			.display-type
				h2.display-w w
				h2.display-e e
			.title-wrapper
				.span-container
					span create
					span &
					span consult
			p.about-title for <br> lifestyle industries such <span>as fashion, entertainment</span> and more.
	
	//- button
	a(href="ourwork.html")
		button.btn-wrapper.btn-pages
			span.btn-animate-up Our Work
		