extends _templates/layout.pug

block content
	.index-wrapper
		.background-wrapper.home-bg

		//- mobile display
		.display-wrapper
			.display-type.jb-cascade(data-cascade="scale-small" data-cascade-delay-mobile="0" data-cascade-delay="0")
				h2.display-w w
				h2.display-e e

			.title-wrapper
				.span-container.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="4" data-cascade-delay="4")
					span create
					span &
					span consult

				.line-item.jb-cascade(data-cascade="line-fill" data-cascade-delay-mobile="3" data-cascade-delay="3")
					.lines-wrapper

			.about-title
				p.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="5" data-cascade-delay="5")  We <br> create and consult for lifestyle cultures and industries such as fashion, hospitality, entertainment and more. 

				p.points.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="6" data-cascade-delay="6") ..


	a.page_transitioner.navigation-btn.btn-pages(href="ourwork.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1") Our Work



block footer
	+footer('')
		