extends _templates/layout.pug

block content
	.message-section.snj-container-fluid.flex-column
		.row
			.center-wrapper.snj-col-9.offset-1.snj-col-md-6.offset-md-2
				h2.subtitle-block Get in touch nnn
				form
					.input-section
						.input-container
							input.input-wrapper(type="text" placeholder="Your name")
						.input-container
							input.input-wrapper(type="email" placeholder="Your email")
						.input-container
							textarea.input-wrapper(name="", cols="30", rows="1" placeholder="Tell us about you project")
						.input-container.check-box
							label.input-wrapper I have read and agreed with privacy policy.
								input(type="checkbox" checked="checked") 
								span.checkmark
				.arrow-container
					+arrow-right("/", "Send it")


	a(href="ourwork.html")
		button.btn-wrapper.btn-pages
			span.btn-animate-up Our Work