extends _templates/layout.pug


block title
	title Jungle Beige | Our Work


block preloader
	include _modules/preloader.pug


block content
	.ourwork.snj-container-fluid
		.row
			//- background shader wrapper
			.background-wrapper.work-bg.shader-container
				img.shader-img(src="img/shaders/Branding_Design-Shader-Naranja.png", alt="Person sit, distortioned by shader", mobsrc="img/shaders/mobile/Branding_Design-Shader-Naranja.png")
				img.shader-img(src="img/shaders/Campaign_Social-Media-Shader-Naranja.png", alt="Woman sit on a carousel, distortioned by shader", mobsrc="img/shaders/mobile/Branding_Design-Shader-Naranja.png")
				img.shader-img(src="img/shaders/Content-Creation_Management-Shader-Naranja.png", alt="Hand selecting coffee beans, distortioned by shader", mobsrc="img/shaders/mobile/Branding_Design-Shader-Naranja.png")
				img.shader-img(src="img/shaders/Event-Curation-Shader-Naranja.png", alt="Night event, distortioned by shader", mobsrc="img/shaders/mobile/Branding_Design-Shader-Naranja.png")
				img.shader-img(src="img/shaders/E-commerce-Shader-Naranja.png", alt="Amongst few t-shirts, distortioned by shader", mobsrc="img/shaders/mobile/Branding_Design-Shader-Naranja.png")

				.shifting-imgs-container
					#shifting-bg-1.shifting-bg
					#shifting-bg-2.shifting-bg
					#shifting-bg-3.shifting-bg
					#shifting-bg-4.shifting-bg
					#shifting-bg-5.shifting-bg

			//- projects wrapper
			.works-list.snj-col-10.offset-1.snj-col-md-9.offset-md-2
				.wrap-list
					+project-intro("workbranding.html","01", "Branding & Design", "","See case studies", "See case")
					+project-intro("workstrategy.html", "02","Campaign"," & Social Media Strategy","See case studies", "See case", {textDelay: 1, arrowDelay: 2} )
					+project-intro("workmanagement.html","03","Content Creation"," & Management", "See case studies", "See case", {textDelay: 2, arrowDelay: 3})
					+project-intro("workevent.html","04","Event Curation","", "See case studies","See Case",{textDelay: 2, arrowDelay: 2})
					+project-intro("workcommerce.html","05","E-commerce","", "See case studies","See Case",{textDelay: 2, arrowDelay: 2})
	

	a.page_transitioner.navigation-btn.btn-pages(href="index.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+close-icon



block footer
	+footer('scroll')