extends _templates/layout.pug
block preloader
	//- .preloader.color-1
block content
	.ourwork.snj-container-fluid
		.row
			//- background shader wrapper
			.background-wrapper.work-bg
			//- projects wrapper
			.works-list.snj-col-10.offset-1.snj-col-md-9.offset-md-2
				.wrap-list
					+project-intro("workbranding.html","01", "Branding & Design", "","See case studies", "See case")
					+project-intro("workstrategy.html", "02","Campaign"," & Social Media Strategy","See case studies", "See case", {textDelay: 1, arrowDelay: 2} )
					+project-intro("workmanagement.html","03","Content Creation"," & Management", "See case studies", "See case", {textDelay: 2, arrowDelay: 3})
					+project-intro("workevent.html","04","Event Curation","", "See case studies","See Case",{textDelay: 2, arrowDelay: 2})
					+project-intro("workcommerce.html","05","E-commerce","", "See case studies","See Case",{textDelay: 2, arrowDelay: 2})
	

	a.navigation-btn.btn-pages(href="index.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+close-icon



block footer
	+footer('scroll')