extends _templates/layout.pug

block content
	.work-section.snj-container-fluid
		.row
			//- background shader wrapper
			.bg-wrapper-shader.work-bg
			//- projects wrapper
			.works-list.snj-col-10.offset-1.snj-col-md-8.offset-md-2
				.project-wrapper
					p.number-project 03
					.name-project 
						h2 Digital / 
						h2 Web Design
					a.arrow-right-long(href="")
						+next-arrow-300
						span See case
				//- +project-wrapper("03", "Digital /", " Web Design")
			button.btn-wrapper.btn-pages
				span.btn-animate-up
					+close-icon