extends _templates/layout.pug

block content
	.work-wrapper.snj-container-fluid
		.row
			.project-wrapper.snj-col-md-10.offset-md-1
				p 03
				h2 Digital / Web Design
				a.arrow-right(href="")
					+next-arrow-90
					span See Project
			button.btn-wrapper.btn-pages
				span.btn-animate-up
					+close-icon