extends _templates/layout.pug


block title
	title Jungle Beige | Power Horse


block content
	.snj-container-fluid.project-page#power-horse-project
		.row
			section.project-about.project-bg-power
				//- .background-wrapper.p-about-bg
				+hero-project("Campaign & Social Media Strategy","Power Horse", "02")
				.especifications-wrap.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					aside.especifications
						.snj-row
							div.especific-item.snj-col-md-2
								+project-box("Client", "Power Horse")
							div.especific-item.offset-md-2.snj-col-md-4
								+project-box("Project", "Community & Culture Initiative",{lineDelayMob: 3, clientDelayMob: 7, projectDelayMob: 8})
							div.especific-item.snj-col-md-2.offset-md-2
								+project-box("Year", "2018-Present",{lineDelayMob: 4, clientDelayMob: 9, projectDelayMob: 10})
			section.project-description
				.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					h1.project-title.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="10" data-cascade-delay="5") Community & Culture Initiative
					div.paragraph-left.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p When Power Horse was ready to focus heavily on the pervading lifestyle cultures and movements of the day (namely street culture), we connected the brand with artists and creatives that unquestionably represented the brand’s “Unstoppable You” spirit.

						p It’s not the easiest job for a brand that virtually had no reputation with this particular community. Thankfully this world is still about show and prove, so we made sure that our collaborations fundamentally helped artists in the community get to the next level. Sometimes it meant helping a local brand’s booth come to life at Sole DXB, and other times it meant helping a DJ host his own show.


					div.paragraph-right.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p Once Power Horse’s place in the community was clear, we then worked on making design a key trait of the brand’s personality. Art and design is a great equalizer, and this direction allowed us rely on creativity when competitors often relied on budget or reputation.

						p 
							a(href="https://www.instagram.com/powerhorse.official/" target="_blank" rel="nofollow noopener noreferrer") Power Horse Instagram page.

			.p-photo1
				img(src="./img/projects/power-horse/02_power.jpg", alt="")
			.img-wrapper
				.p-photo3
					img(src="./img/projects/power-horse/03_power.jpg", alt="")
				.p-photo2
					img(src="./img/projects/power-horse/04_power.jpg", alt="")


			+project-slider([
				{
					src: "./img/projects/power-horse/05_power.gif", 
					alt: ""
				},
				{
					src:"./img/projects/power-horse/07_power.jpg",
					alt: ""
				},
				{
					src: "./img/projects/power-horse/08_power.jpg", 
					alt: ""
				}
			])
			

			section.video-wrapper.powerhorse-video-mini.snj-col-12
				+video-player("./img/projects/power-horse/09_power_mini.jpg","./img/projects/power-horse/09_power.mp4")
			

			//- footer
			section.footer-project
				.snj-col-md-1.offset-md-2.arrow-container.container-prev
					a.page_transitioner.more-cases.prev-case(href="suede-guerrillas.html")
						span.light-font.left-translate Previous Case
						.arrow-wrapper.left-translate
							+icon-arrow
							.rectangle-arrow
				.description.snj-col-8.offset-2.snj-col-md-4.offset-md-1
					p Next Project
					h3 PUMA
					h4 Content Creation & Management
					a.page_transitioner(href="puma-middle-east.html") See case
					p.copyright © Copyright 2020
				.snj-col-md-1.offset-md-1.arrow-container.container-next
					a.page_transitioner.more-cases.next-case(href="puma-middle-east.html")
						span.light-font.right-translate Next Case
						.arrow-wrapper.right-translate
							.rectangle-arrow
							+icon-arrow
	a.page_transitioner.navigation-btn.btn-pages(href="campaign-and-social-media.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn
block footer
	+footer('scroll')