extends _templates/layout.pug
block preloader
	.preloader.color-2
block content
	.snj-container-fluid.project-page
		.row
			section.project-about
				//- .background-wrapper.p-about-bg
				.info-wrapper.snj-col-10.offset-1.snj-col-md-4.offset-md-4
					h2.subtitle-block Event Curation
					h1.project-title Amongst Few
					span 02
				aside.especifications.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					.snj-row
						div.especific-item.snj-col-md-2
							h4 Cliente
							h5 Puma						
						div.especific-item.offset-md-2.snj-col-md-4
							h4 Project
							h5 Social brand building
						div.especific-item.snj-col-md-2.offset-md-2
							h4 Year
							h5 2017
			section.project-description
				.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					h1.project-title Amongst Few
					div.paragraph-left
						p Amongst Few hasn’t become the region’s premiere streetwear brand on their clothing alone. It’s also because the brand has made it a point to shape and move streetwear culture in Dubai through their activations and events. It’s become the foundation for how Jungle Beige approach all other events - move the needle, or stay home.

			.p-photo1
				img(src="../img/project-img-1.jpg", alt="")
			.img-wrapper
				.p-photo3
					img(src="../img/project-img-2.jpg", alt="")
				.p-photo2
					img(src="../img/project-img-3.jpg", alt="")
			include _modules/slider.pug
			section.video-wrapper.snj-col-12
				video(src="")
				button.btn-circle
					.btn-c-init
					+video-play-icon
					.btn-c-hover
					span Play
			//- footer
			section.footer-project
				.snj-col-md-1.offset-md-2.arrow-container
					a.arrow-up.prev-case(href="project-event-puma.html")
						span.light-font.left-translate Previous Case
						.arrow-wrapper.left-translate
							+icon-arrow
							.rectangle-arrow
				.description.snj-col-8.offset-2.snj-col-md-4.offset-md-1
					p Next Project
					h3 High Beams
					h4 Branding & Design
					a(href="project-brand-beams.html") See case
				.snj-col-md-1.offset-md-2.arrow-container
					a.arrow-up.next-case(href="project-brand-beams.html")
						span.light-font.right-translate Next Case
						.arrow-wrapper.right-translate
							.rectangle-arrow
							+icon-arrow
				p.copyright © Copyright 2019
	a.btn-wrapper.btn-pages(href="workevent.html")
		span.btn-animate-up
			+back-icon-btn
block footer
	+footer('scroll')