extends _templates/layout.pug


block content
	.snj-container-fluid.project-page#commerce-amongst-project
		.row
			section.project-about.project-bg-commerce-amongst
				+hero-project("E-commerce","Amongst Few","01")
				.especifications-wrap.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					aside.especifications
						.snj-row
							div.especific-item.snj-col-md-2
								+project-box("Client", "Amongst Few")
							div.especific-item.offset-md-2.snj-col-md-4
								+project-box("Project", "Launch & Management of Website",{lineDelayMob: 3, clientDelayMob: 7, projectDelayMob: 8})
							div.especific-item.snj-col-md-2.offset-md-2
								+project-box("Year", "2017-Present ",{lineDelayMob: 4, clientDelayMob: 9, projectDelayMob: 10})
			

			section.project-description
				.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					h1.project-title.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="10" data-cascade-delay="5") Launch & Management of Website
					div.paragraph-left.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p Direct to consumer brands like Amongst Few have no choice but to develop an e-commerce game at the highest level. It’s the most important way to connect with consumers around the region, and world.
						p The challenge, and opportunity, is how to translate what is so carefully curated and crafted in their flagship store into a digital experience. The foundation is always the aesthetics of the site - clean and nuanced like the store itself. We then focus on the user experience. 
					div.paragraph-right.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p While the knowledge, style and warmth of the store staff isn’t easily translated online, we can still provide an efficient and flexible experience - shopping by brand, size, price range and even color.
						p True digital transformation isn’t complete without the other elements of the shopping experience, such as the brand’s social media channels, as well as the visuals, tone and offers of its newsletter. It’s all one ecosystem that is carefully crafted in order to ensure the customer can easily access what they’re looking for, and always come away understanding what the brand is about and can continually offer.
			

			.p-photo1
				img(src="https://www.fillmurray.com/1920/787", alt="")
			.img-wrapper
				.p-photo3
					img(src="./img/projects/commerce-amongst/3-commerce-amongst-photo.jpg", alt="")
				.p-photo2
					img(src="./img/projects/commerce-amongst/4-commerce-amongst-photo.jpg", alt="")
			+slider-projects("./img/projects/commerce-amongst/5-commerce-amongst-slide.jpg", "./img/projects/commerce-amongst/6-commerce-amongst-slide.jpg", "./img/projects/commerce-amongst/7-commerce-amongst-slide.jpg", "./img/projects/commerce-amongst/8-commerce-amongst-slide.jpg", "", "", "", "")
			

			//- video player
			section.video-wrapper.commerceAmongst-video-mini.snj-col-12
				+video-player("./img/projects/commerce-amongst/09_amongst_commerce_mini_opt.jpg","./img/projects/commerce-amongst/09_amongst_commerce.mp4")
			//- footer
			section.footer-project
				.snj-col-md-1.offset-md-2.arrow-container.container-prev
					a.page_transitioner.more-cases.prev-case(href="project-event-amongst.html")
						span.light-font.left-translate Previous Case
						.arrow-wrapper.left-translate
							+icon-arrow
							.rectangle-arrow
				.description.snj-col-8.offset-2.snj-col-md-4.offset-md-1
					p Next Project
					h3 High Beams
					h4 Branding & Design
					a.page_transitioner(href="project-brand-beams.html") See case
					p.copyright © Copyright 2019
				.snj-col-md-1.offset-md-1.arrow-container.container-next
					a.page_transitioner.more-cases.next-case(href="project-brand-beams.html")
						span.light-font.right-translate Next Case
						.arrow-wrapper.right-translate
							.rectangle-arrow
							+icon-arrow


	a.page_transitioner.navigation-btn.btn-pages(href="workcommerce.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn



block footer
	+footer('scroll')