extends _templates/layout.pug
block preloader
	//- .preloader.color-2
block content
	.snj-container-fluid.project-page
		.row
			section.project-about
				+hero-project("Branding & Design","High Beams", "01")
				.especifications-wrap.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					aside.especifications
						.snj-row
							div.especific-item.snj-col-md-2
								+project-box("Client", "PUMA")
							div.especific-item.offset-md-2.snj-col-md-4
								+project-box("Project", "High Beams Running Crew",{lineDelayMob: 3, clientDelayMob: 7, projectDelayMob: 8})
							div.especific-item.snj-col-md-2.offset-md-2
								+project-box("Year", "2017-Present",{lineDelayMob: 4, clientDelayMob: 9, projectDelayMob: 10})

			section.project-description
				.snj-col-10.offset-1.snj-col-md-6.offset-md-3.about-wrapper
					h1.project-title.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="10" data-cascade-delay="5") High Beams Running Crew
					div.paragraph-left.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p High Beams Dubai is the city’s first Run Crew and Sound System. Its membership includes some of city’s top DJs, trainers and creatives. To break away from the mainstream, PUMA encouraged, and entrusted, Jungle Beige to explore the Run Crew concept/movement found in cities like New York and London.
						p The challenge was building something similar for a transient city where you can’t run outdoors all year long. Our Creative Director, a High Beams founder, and the agency worked with the crew to make these perceived disadvantages something to remix and celebrate.
					div.paragraph-right.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p The crew gets its name from the fact that drivers in Dubai flash their high beams at you when you’re driving too slow. And since the crew can’t run outdoors throughout the year, they installed a weekly gym session called Saturday Brunch - brunches being another “Dubai thing”.
						p Finally, with crew members from all over the world, with different backgrounds, languages, etc., the ethos of the crew is Vibes First. Because if the vibes are right, people can definitely connect, train and party together.
			.p-photo1
				img(src="https://www.fillmurray.com/1920/787", alt="")
			.img-wrapper
				.p-photo3
					img(src="https://www.fillmurray.com/955/787", alt="")
				.p-photo2
					img(src="https://www.fillmurray.com/955/787", alt="")
			+slider-projects("https://www.fillmurray.com/893/591", "https://www.fillmurray.com/893/591", "https://www.fillmurray.com/893/591", "https://www.fillmurray.com/893/591", "", "", "", "")

			//- video player
			section.video-wrapper.fill-mini.snj-col-12
				+video-player("../img/projects/coffee/9-coffee-mini.jpg","../img/projects/coffee/9-coffee-video.mp4")

			//- footer
			section.footer-project
				.snj-col-md-1.offset-md-2.arrow-container.container-prev
					a.more-cases.prev-case(href="project-commerce-amongst.html")
						span.light-font.left-translate Previous Case
						.arrow-wrapper.left-translate
							+icon-arrow
							.rectangle-arrow
				.description.snj-col-8.offset-2.snj-col-md-4.offset-md-1
					p Next Project
					h3 Future Street Cred
					h4 Branding & Design
					a(href="project-brand-cred.html") See case
					p.copyright © Copyright 2019
				.snj-col-md-1.offset-md-1.arrow-container.container-next
					a.more-cases.next-case(href="project-brand-cred.html")
						span.light-font.right-translate Next Case
						.arrow-wrapper.right-translate
							.rectangle-arrow
							+icon-arrow
				//- p.copyright © Copyright 2019
	a.navigation-btn.btn-pages(href="workbranding.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn
block footer
	+footer("scroll")