extends _templates/layout.pug

block content
	.snj-container-fluid.project-page
		.snj-row
			section.project-about
				//- .background-wrapper.p-about-bg
				.info-wrapper.snj-col-10.offset-1.snj-col-md-4
					h2.subtitle-block Social content & Graphic Design
					h1.title-block Puma Middle East
					span 01
				aside.especifications.snj-col-10.snj-col-md-6.offset-1
					div.especific-item
						h4 Cliente
						h5 Puma						
					div.especific-item
						h4 Project
						h5 Social brand building
					div.especific-item
						h4 Year
						h5 2017
			section.project-description
				.snj-col-10.offset-1.snj-col-md-6
					h1.title-block Study case Title
					p Lorem ipsum dolor sit amet, consecter adipiangelit, s sed do eiusmod tempor incididunt ut labq, Lorem ipst, sed do eiusmod tempor incididunt ut labore.
					p Lorem ipsum dolor sit amet, consecter dipiscing elit, sed do eiusmod tempor incididunt ut labore. Loremor ipsum dolor sit amet, consecter adipiscing elit, sed do eiusmod tempor incididunt ut labore .
					p Lorem ipsum dolor sit amet, consecter adipiang incididunt ut laboreem ipsum dolor sit amet, consecter diping elit, sed do eiusmod tempor un labore.
			img.p-photo1.snj-col-12(src="", alt="")
			img.p-photo3.snj-col-12.snj-col-md-6(src="", alt="")
			img.p-photo2.snj-col-12.snj-col-md-6(src="", alt="")
			section.sliderwrapper.snj-col-12
				button.slide-controller.controller-prev Prev
				button.slide-controller.controller-next Next
				.slider-hidden
					.slide-item-1
					.slide-item-2
					.slide-item-3
					.slide-item-4
					.slide-item-5
					.slide-item-6
			section.video-wrapper.snj-col-12
				button.btn-circle
					+video-play-icon
					+video-pause-icon
			section.footer-project
				.snj-col-md-1
					a.arrow-up(href="")
						span.light-font Next Case
						+next-arrow-90
				.snj-col-md-4
					p Next Project
					h3 Amongst Few
					h4 Branding & Interior Design
				.snj-col-md-1
					a.arrow-up(href="")
						span.light-font Next Case
						+next-arrow-90
				p © Copyright 2019