extends _templates/layout.pug

block preloader
	//- .preloader.color-2
block content
	.snj-container-fluid.project-page
		.row
			section.project-about
				//- .background-wrapper.p-about-bg
				+hero-project("Campaign & Social Media Strategy","Power Horse", "02")
				.especifications-wrap.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					aside.especifications
						.snj-row
							div.especific-item.snj-col-md-2
								+project-box("Client", "Power Horse")
							div.especific-item.offset-md-2.snj-col-md-4
								+project-box("Project", "Community & Culture Initiative",{lineDelayMob: 3, clientDelayMob: 7, projectDelayMob: 8})
							div.especific-item.snj-col-md-2.offset-md-2
								+project-box("Year", "2018-Present",{lineDelayMob: 4, clientDelayMob: 9, projectDelayMob: 10})
			section.project-description
				.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					h1.project-title.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="10" data-cascade-delay="5") Community & Culture Initiative
					div.paragraph-left.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p When Power Horse was ready to distinguish itself from competitors and focus heavily on the pervading lifestyle cultures and movements of the day (namely street culture), we connected the brand with artists and creatives in the community that unquestionably represented the brand’s “Unstoppable You” spirit. 

						p It’s not the easiest job for a brand that virtually had no reputation with this community. Thankfully this world is still about show and prove. So we made sure that our collaborations fundamentally helped artists/athletes in the community get to the next level.
					div.paragraph-right.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p Whether it was helping their booth come to life at Sole DXB or helping them tick something off their creative bucket list. Once Power Horse’s intention, and place, in the community was set, we then moved on to establishing a new design language and tone of voice. So while their competitors went extreme, we went more creative (even artsy).

						p When competitors went mainstream, we went underground. It’s made the difference ever since. 
			.p-photo1
				img(src="./img/project-img-1.jpg", alt="")
			.img-wrapper
				.p-photo3
					img(src="./img/project-img-2.jpg", alt="")
				.p-photo2
					img(src="./img/project-img-3.jpg", alt="")
			include _modules/slider.pug
			
			section.video-wrapper.snj-col-12
				video(src="")
				button.btn-circle
					.btn-c-init
					+video-play-icon
					.btn-c-hover
					span Play
			//- footer
			section.footer-project
				.snj-col-md-1.offset-md-2.arrow-container.container-prev
					a.more-cases.prev-case(href="project-social-suede.html")
						span.light-font.left-translate Previous Case
						.arrow-wrapper.left-translate
							+icon-arrow
							.rectangle-arrow
				.description.snj-col-8.offset-2.snj-col-md-4.offset-md-1
					p Next Project
					h3 Puma
					h4 Content Creation & Management
					a(href="project-manage-puma.html") See case
					p.copyright © Copyright 2019
				.snj-col-md-1.offset-md-1.arrow-container.container-next
					a.more-cases.next-case(href="project-manage-puma.html")
						span.light-font.right-translate Next Case
						.arrow-wrapper.right-translate
							.rectangle-arrow
							+icon-arrow
	a.navigation-btn.btn-pages(href="workstrategy.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn
block footer
	+footer('scroll')