extends _templates/layout.pug


block title
	title Jungle Beige | Cartel Coffee


block content
	.snj-container-fluid.project-page#coffee-project
		.row
			section.project-about.hero-background.project-bg-coffee
				+hero-project("Content Creation & Management","Cartel Coffee","02")
				.especifications-wrap.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					aside.especifications
						.snj-row
							div.especific-item.snj-col-md-2
								+project-box("Client", "Cartel Coffee")
							div.especific-item.offset-md-2.snj-col-md-4
								+project-box("Project", "Instagram Launch & Campaign Videos",{lineDelayMob: 3, clientDelayMob: 7, projectDelayMob: 8})
							div.especific-item.snj-col-md-2.offset-md-2
								+project-box("Year", "2019",{lineDelayMob: 4, clientDelayMob: 9, projectDelayMob: 10})
			section.project-description
				.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					h1.project-title.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="10" data-cascade-delay="5") Instagram Launch & Campaign Videos
					div.paragraph-left.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p Cartel Coffee is an Abu Dhabi based shop with a shared penchant for disruption and irreverence, as evident by their controversial name and shark logo. What does a shark have to do with coffee or cartels? Not much, and yet we totally get it.

						p We planned and produced the coffee shop’s first 3 months of content, focusing on what makes the shop special - their unusual branding and their in-house roasting done by the shop’s Emirati founder. We also pushed to set the standard for coffee shop aesthetics and storytelling, not only in the city, but in the entire region.


					div.paragraph-right.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p No easy task with so many coffee shops out there, but we stand by our ambition, and its outcome, which includes a Narcos inspired mixed media video, a one take video narrated by the founder and countless photos we would put up against any coffee shop around.

						p 
							a(href="https://www.instagram.com/cartelcoffeeroasters/" target="_blank" rel="nofollow noopener noreferrer") Cartel Coffee Instagram Page (managed first 3 months of content).



			.p-photo1
				img(src="./img/projects/coffee/2-coffee-photo.jpg", alt="")
			.img-wrapper
				.p-photo3
					img(src="./img/projects/coffee/3-coffee-photo.jpg", alt="")
				.p-photo2
					img(src="./img/projects/coffee/4-coffee-photo.jpg", alt="")
			+slider-projects("./img/projects/coffee/5-coffee-slide.jpg", "./img/projects/coffee/6-coffee-slide.jpg", "./img/projects/coffee/7-coffee-slide.jpg", "./img/projects/coffee/8-coffee-slide.jpg", "", "", "", "")

			//- video player
			section.video-wrapper.coffee-video-mini.snj-col-12
				+video-player("./img/projects/coffee/9-coffee-mini.jpg","./img/projects/coffee/9-coffee-video.mp4")
				
			//- footer
			section.footer-project
				.snj-col-md-1.offset-md-2.arrow-container.container-prev
					a.page_transitioner.more-cases.prev-case(href="project-manage-puma")
						span.light-font.left-translate Previous Case
						.arrow-wrapper.left-translate
							+icon-arrow
							.rectangle-arrow
				.description.snj-col-8.offset-2.snj-col-md-4.offset-md-1
					p Next Project
					h3 PUMA
					h4 Event Curation
					a.page_transitioner(href="project-event-puma") See case
					p.copyright © Copyright 2020
				.snj-col-md-1.offset-md-1.arrow-container.container-next
					a.page_transitioner.more-cases.next-case(href="project-event-puma")
						span.light-font.right-translate Next Case
						.arrow-wrapper.right-translate
							.rectangle-arrow
							+icon-arrow
	a.page_transitioner.navigation-btn.btn-pages(href="workmanagement")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn
block footer
	+footer('scroll')