extends _templates/layout.pug

block preloader
	//- .preloader.color-2
block content
	.snj-container-fluid.project-page#suede-guerrilla-project
		.row
			section.project-about#suede-hero
				//- .background-wrapper.p-about-bg
				+hero-project("Campaign & Social Media Strategy","Suede Guerrilla", "01")
				.especifications-wrap.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					aside.especifications
						.snj-row
							div.especific-item.snj-col-md-2
								+project-box("Client", "Puma")
							div.especific-item.offset-md-2.snj-col-md-4
								+project-box("Project", "Suede Guerrillas",{lineDelayMob: 3, clientDelayMob: 7, projectDelayMob: 8})
							div.especific-item.snj-col-md-2.offset-md-2
								+project-box("Year", "2017-Present",{lineDelayMob: 4, clientDelayMob: 9, projectDelayMob: 10})
			section.project-description
				.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					h1.project-title.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="10" data-cascade-delay="5") Suede Guerrillas
					div.paragraph-left.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p For PUMA’s Run the Streets campaign, we created the Suede Guerrillas, a group of artists and creatives that authentically embodied the campaign’s ethos.
						p It was the first long-term micro-influencer campaign to exist in the region, and produced and unprecedented amount of original content and activations - a sort of millennial interpretation of running the streets. In Year 2, the Suede Guerrillas evolved into a regional platform for co-creation anchored by its site, </a (href="")>suedeguerrillas.com</a>, which we also designed.
					div.paragraph-right.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p We’re especially proud of the platform because it offers the type of big brand exposure that creatives in cities outside of Dubai can hardly attain, or fathom.
						p Now an entire region of creatives have a way to continually share ideas and work with PUMA. It’s already led to dozens of co-creations and will continue to do so while the site is live. It’s the type of access and opportunity our younger selves dreamed of, and we’re proud to pay it forward to this generation and beyond.

			.p-photo1
				img(src="./img/projects/suede-guerrilla/suede-photo-2.jpg", alt="")
			.img-wrapper
				.p-photo3
					img(src="./img/projects/suede-guerrilla/suede-photo-3.jpg", alt="")
				.p-photo2
					img(src="./img/projects/suede-guerrilla/suede-photo-4.jpg", alt="")
			+slider-projects("./img/projects/suede-guerrilla/suede-slide-5.jpg", "./img/projects/suede-guerrilla/suede-slide-6.jpg", "./img/projects/suede-guerrilla/suede-slide-7.jpg", "./img/projects/suede-guerrilla/suede-slide-8.jpg", "", "", "", "")
			section.video-wrapper.suede-video-mini.snj-col-12
				video(src="")
				button.btn-circle
					.btn-c-init
					+video-play-icon
					.btn-c-hover
					span Play
			//- footer
			section.footer-project
				.snj-col-md-1.offset-md-2.arrow-container.container-prev
					a.more-cases.prev-case(href="project-brand-cred.html")
						span.light-font.left-translate Previous Case
						.arrow-wrapper.left-translate
							+icon-arrow
							.rectangle-arrow
				.description.snj-col-8.offset-2.snj-col-md-4.offset-md-1
					p Next Project
					h3 Power Horse
					h4 Campaign & Social Media Strategy
					a(href="project-social-power.html") See case
					p.copyright © Copyright 2019
				.snj-col-md-1.offset-md-1.arrow-container.container-next
					a.more-cases.next-case(href="project-social-power.html")
						span.light-font.right-translate Next Case
						.arrow-wrapper.right-translate
							.rectangle-arrow
							+icon-arrow
	a.navigation-btn.btn-pages(href="workstrategy.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn
block footer
	+footer("scroll")