extends _templates/layout.pug
block preloader
	.preloader.color-2
block content
	.snj-container-fluid.project-page
		.row
			section.project-about
				//- .background-wrapper.p-about-bg
				.info-wrapper.snj-col-10.offset-1.snj-col-md-4.offset-md-4
					h2.subtitle-block Content Creation & Management
					h1.project-title Cartel Coffee
					span 02
				aside.especifications.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					.snj-row
						div.especific-item.snj-col-md-2
							h4 Cliente
							h5 Puma						
						div.especific-item.offset-md-2.snj-col-md-4
							h4 Project
							h5 Social brand building
						div.especific-item.snj-col-md-2.offset-md-2
							h4 Year
							h5 2017
			section.project-description
				.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					h1.project-title Cartel Coffee
					div.paragraph-left
						p We planned and shot all of the new coffee shop’s content, focusing on what makes the shop special - their unusual branding and their in-house roasting done by the shop’s Emirati founder. 
						p We also pushed to set the standard for coffee shop aesthetics, not only in the city, but in the entire region. Not an easy job with so many coffee shops out there, but we stand by our ambition, and its outcome. 
			.p-photo1
				img(src="../img/project-img-1.jpg", alt="")
			.img-wrapper
				.p-photo3
					img(src="../img/project-img-2.jpg", alt="")
				.p-photo2
					img(src="../img/project-img-3.jpg", alt="")
			include _modules/slider.pug

			section.video-wrapper.snj-col-12
				video(src="")
				button.btn-circle
					.btn-c-init
					+video-play-icon
					.btn-c-hover
					span Play
			//- footer
			section.footer-project
				.snj-col-md-1.offset-md-2.arrow-container
					a.arrow-up.prev-case(href="project-manage-puma.html")
						span.light-font.left-translate Previous Case
						.arrow-wrapper.left-translate
							+icon-arrow
							.rectangle-arrow
				.description.snj-col-8.offset-2.snj-col-md-4.offset-md-1
					p Next Project
					h3 Irisin
					h4 Content Creation & Management
					a(href="project-manage-irisin.html") See case
				.snj-col-md-1.offset-md-2.arrow-container
					a.arrow-up.next-case(href="project-manage-irisin.html")
						span.light-font.right-translate Next Case
						.arrow-wrapper.right-translate
							.rectangle-arrow
							+icon-arrow
				p.copyright © Copyright 2019
	a.btn-wrapper.btn-pages(href="workmanagement.html")
		span.btn-animate-up
			+back-icon-btn
block footer
	+footer('scroll')