extends _templates/layout.pug
block preloader
	//- .preloader.color-2
block content
	.snj-container-fluid.project-page
		.row
			section.project-about
				+hero-project("Branding & Design","High Beams", "01")
				aside.especifications.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					.snj-row
						div.especific-item.snj-col-md-2
							+project-box("Client", "High Beams")
						div.especific-item.offset-md-2.snj-col-md-4
							+project-box("Project", "Branding & Design",{lineDelayMob: 3, clientDelayMob: 7, projectDelayMob: 8})
						div.especific-item.snj-col-md-2.offset-md-2
							+project-box("Year", "2017",{lineDelayMob: 4, clientDelayMob: 9, projectDelayMob: 10})
			section.project-description
				.snj-col-10.offset-1.snj-col-md-6.offset-md-3.about-wrapper
					h1.project-title.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="10" data-cascade-delay="5") High Beams
					div.paragraph-left.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p High Beams Dubai is the city’s first Run Crew and Sound System. Its membership includes some of Dubai’s top DJs, trainers and creatives. To break away from the mainstream, PUMA encouraged, and entrusted, Jungle Beige to explore the run crew concept/movement found in cities like New York and London. 
						p The challenge was to build something similar in a transient city that you can’t run in all year long.  Our Creative Director, a High Beams founder, and the agency worked with the crew to make these perceived disadvantages something to remix and celebrate.
					div.paragraph-right.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p The crew gets its name from the fact that people in Dubai flash their high beams at you on the highway when you’re driving too slow. Since the crew can’t train all year long, they also have a weekly circuit training session they refer to as Saturday Brunch - brunches being another “Dubai thing”.
						p Finally, with crew members from all over the world, with different backgrounds, languages, etc., the ethos of the crew is Vibes First. Because if the vibes are right, people can definitely connect, train and party together. 
			.p-photo1
				img(src="../img/project-img-1.jpg", alt="")
			.img-wrapper
				.p-photo3
					img(src="../img/project-img-2.jpg", alt="")
				.p-photo2
					img(src="../img/project-img-3.jpg", alt="")
			include _modules/slider.pug
			section.video-wrapper.snj-col-12
				video(src="")
				button.btn-circle
					.btn-c-init
					+video-play-icon
					.btn-c-hover
					span Play
			//- footer
			section.footer-project
				.snj-col-md-1.offset-md-2.arrow-container
					a.arrow-up.prev-case(href="project-event-amongst.html")
						span.light-font.left-translate Previous Case
						.arrow-wrapper.left-translate
							+icon-arrow
							.rectangle-arrow
				.description.snj-col-8.offset-2.snj-col-md-4.offset-md-1
					p Next Project
					h3 Future Street Cred
					h4 Branding & Design
					a(href="project-brand-cred.html") See case
				.snj-col-md-1.offset-md-2.arrow-container
					a.arrow-up.next-case(href="project-brand-cred.html")
						span.light-font.right-translate Next Case
						.arrow-wrapper.right-translate
							.rectangle-arrow
							+icon-arrow
				p.copyright © Copyright 2019

	a.btn-wrapper.btn-pages(href="workbranding.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn
	+footer("scroll")