extends _templates/layout.pug

block preloader
	//- .preloader.color-2
block content
	.snj-container-fluid.project-page
		.row
			section.project-about
				//- .background-wrapper.p-about-bg
				+hero-project("Campaign & Social Media Strategy","Power Horse", "02")
				aside.especifications.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					.snj-row
						div.especific-item.snj-col-md-2
							+project-box("Client", "Puma	")
						div.especific-item.offset-md-2.snj-col-md-4
							+project-box("Project", "Social brand building",{lineDelayMob: 3, clientDelayMob: 7, projectDelayMob: 8})
						div.especific-item.snj-col-md-2.offset-md-2
							+project-box("Year", "2017",{lineDelayMob: 4, clientDelayMob: 9, projectDelayMob: 10})
			section.project-description
				.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					h1.project-title.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="10" data-cascade-delay="5") Power Horse
					div.paragraph-left.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p When Power Horse was ready to distinguish itself from competitors and focus heavily on the pervading lifestyle cultures and movements of the day (namely street culture), we connected the brand with artists and creatives in the community that truly espoused the brand’s “Unstoppable You” spirit. Not the easiest job for a brand that virtually had no reputation with this community.
						p But we know it’s always about “show and prove” so we made sure that our initial collaborations were about actually helping artists/athletes in the  
					div.paragraph-right.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p community clearly get to the next level, whether it was providing the resources (and narrative) to have their booth come to life at Sole DXB, from helping them tick something off their creative bucket list. Once their intention and place in the community was set, we then moved on to establishing a new design language and tone of voice. 
						p So while their competitors went extreme, we went more creative (even artsy). When competitors went mainstream, we went underground. 
			.p-photo1
				img(src="../img/project-img-1.jpg", alt="")
			.img-wrapper
				.p-photo3
					img(src="../img/project-img-2.jpg", alt="")
				.p-photo2
					img(src="../img/project-img-3.jpg", alt="")
			include _modules/slider.pug
			
			section.video-wrapper.snj-col-12
				video(src="")
				button.btn-circle
					.btn-c-init
					+video-play-icon
					.btn-c-hover
					span Play
			//- footer
			section.footer-project
				.snj-col-md-1.offset-md-2.arrow-container
					a.arrow-up.prev-case(href="project-social-suede.html")
						span.light-font.left-translate Previous Case
						.arrow-wrapper.left-translate
							+icon-arrow
							.rectangle-arrow
				.description.snj-col-8.offset-2.snj-col-md-4.offset-md-1
					p Next Project
					h3 Puma
					h4 Content Creation & Management
					a(href="project-manage-puma.html") See case
				.snj-col-md-1.offset-md-2.arrow-container
					a.arrow-up.next-case(href="project-manage-puma.html")
						span.light-font.right-translate Next Case
						.arrow-wrapper.right-translate
							.rectangle-arrow
							+icon-arrow
				p.copyright © Copyright 2019
	a.btn-wrapper.btn-pages(href="workstrategy.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn
block footer
	+footer('scroll')