extends _templates/layout.pug


block title
	title Jungle Beige | PUMA Event Curation


block content
	.snj-container-fluid.project-page#event-puma-project
		.row
			section.project-about.project-bg-event-puma
				+hero-project("Event Curation","PUMA","01")
				.especifications-wrap.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					aside.especifications
						.snj-row
							div.especific-item.snj-col-md-2
								+project-box("Client", "PUMA")
							div.especific-item.offset-md-2.snj-col-md-4
								+project-box("Project", "Suede Guerrillas & International Women’s Day",{lineDelayMob: 3, clientDelayMob: 7, projectDelayMob: 8})
							div.especific-item.snj-col-md-2.offset-md-2
								+project-box("Year", "2017 & 2018 ",{lineDelayMob: 4, clientDelayMob: 9, projectDelayMob: 10})
			

			section.project-description
				.snj-col-10.offset-1.snj-col-md-6.offset-md-3
					h1.project-title.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="10" data-cascade-delay="5") Suede Guerrillas & International Women’s Day
					div.paragraph-left.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p Curating an event that looks great, and feels great (in terms of vibes), is a big enough challenge. We make it harder on ourselves by trying to make it unprecedented in some sort of way. Thankfully, PUMA has always shared our ambition to make this happen.

						p Our first event with PUMA celebrated the Suede Guerrillas and their global Run the Streets campaign. The event featured a secret, graffiti tagged entrance through a sheesha cafe, and it also marked the first time a Secret Walls mural battle ever took place in Dubai.


					div.paragraph-right.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="11" data-cascade-delay="6")
						p The following year, we celebrated International Women’s Day by capturing the beautiful diversity of Dubai women in the most inclusive way we could think of. Often brands will target the same groups or expats because of their consumer strength in the country.

						p For International Women’s Day, and for us, that wasn’t good enough. Instead, we celebrated nearly 30 different women, and their respective nationalities, as it’s this type of diversity that makes Dubai so special. Each woman was shot for their own portrait (with makeup colors from their country’s flag). Every single portrait was then displayed at a party hosted by 3 female DJs.

						p 
							a(href="https://en.vogue.me/culture/this-omani-photographers-empowering-exhibition-celebrates-women/" target="_blank" rel="nofollow noopener noreferrer") Vogue article about International Women’s Day concept and event.


			
			.p-photo1
				img(src="./img/projects/event-puma/DSCF6253.jpg", alt="")
				//- img(src="./img/projects/event-puma/02_puma_event.jpg", alt="")
			.img-wrapper
				.p-photo3
					img(src="./img/projects/event-puma/03.jpg", alt="")
					//- img(src="./img/projects/event-puma/03_puma_event.jpg", alt="")
				.p-photo2
					img(src="./img/projects/event-puma/04.jpg", alt="")
					//- img(src="./img/projects/event-puma/04_puma_event.jpg", alt="")
			

			//- +slider-projects("./img/projects/event-puma/1.jpg", "./img/projects/event-puma/2.jpg", "./img/projects/event-puma/DSCF6253.jpg", "./img/projects/event-puma/4.jpg", "", "", "", "")

			+project-slider([
				{
					src: "./img/projects/event-puma/1.jpg",
					alt: "portrait1"
				},
				{
					src: "./img/projects/event-puma/2.jpg",
					alt: "portrait2"
				},
				{
					src: "./img/projects/event-puma/4.jpg",
					alt: "portrait4"
				},
			])




			//- video
			section#projectVideo01.video-wrapper.eventPuma-video-mini.snj-col-12
				+video-player("./img/projects/event-puma/09_puma_event_mini.jpg","./img/projects/event-puma/09_puma_event.mp4")

			section#projectVideo02.video-wrapper.eventPuma-video-mini2.snj-col-12
				+video-player("./img/projects/event-puma/womens_day_mini-2.jpg","./img/projects/event-puma/Womens_Day_PUMA.mp4")




			//- footer
			section.footer-project
				.snj-col-md-1.offset-md-2.arrow-container.container-prev
					a.page_transitioner.more-cases.prev-case(href="cartel-coffee.html")
						span.light-font.left-translate Previous Case
						.arrow-wrapper.left-translate
							+icon-arrow
							.rectangle-arrow
				.description.snj-col-8.offset-2.snj-col-md-4.offset-md-1
					p Next Project
					h3 amongst few
					h4 Event Curation
					a.page_transitioner(href="amongst-few-events.html") See case
					p.copyright © Copyright 2020
				.snj-col-md-1.offset-md-1.arrow-container.container-next
					a.page_transitioner.more-cases.next-case(href="amongst-few-events.html")
						span.light-font.right-translate Next Case
						.arrow-wrapper.right-translate
							.rectangle-arrow
							+icon-arrow
	a.page_transitioner.navigation-btn.btn-pages(href="event-curation.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn
block footer
	+footer('scroll')