extends _templates/layout.pug


block content
	#work-sections-branding.worksections-bg.shader-container
		img.shader-img(src="img/shaders/Branding_Design-Shader-Negro.jpg", mobsrc="img/shaders/Branding_Design-Shader-Negro.jpg", alt="Distortioned background")


	.sections-p-wrapper.project-bg-beams
		+project-sections("Branding & Design", "High Beams", "01", "project-brand-beams.html")

	.sections-p-wrapper.project-bg-cred
		+project-sections("Branding & Design", "Future Street Cred", "02", "project-brand-cred.html")

	a.page_transitioner.navigation-btn.btn-pages(href="ourwork.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn



block footer
	+footer('')