extends _templates/layout.pug
block preloader
	//- .preloader.color-1.preloader-cut
block content
	.ourwork-sections-detail#branding-work
		.background-wrapper.worksections-bg
		//- component
		.sections-p-wrapper.project-bg-1.full-screen
			+project-sections("E-commerce", "Amongst Few", "01", "project-commerce-amongst.html")
	a.navigation-btn.btn-pages(href="ourwork.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn
block footer
	+footer('')