extends _templates/layout.pug


block content
	#work-sections-commerce.worksections-bg.shader-container
		img.shader-img(src="img/shaders/E-commerce-Shader-Negro.jpg", mobsrc="img/shaders/E-commerce-Shader-Negro.jpg", alt="Distortioned background")


	.sections-p-wrapper.project-bg-commerce-amongst.full-screen
		+project-sections("E-commerce", "Amongst Few", "01", "project-commerce-amongst.html")
	a.page_transitioner.navigation-btn.btn-pages(href="ourwork.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn
block footer
	+footer('')