extends _templates/layout.pug
block preloader
	.preloader.color-1.preloader-cut
block content
	.ourwork-sections-detail#branding-work
		
		.background-wrapper.worksections-bg
		//- component
		.sections-p-wrapper.project-bg-1
			+project-sections("Branding & Design", "High Beams", "01", "project-brand-beams.html")
		.sections-p-wrapper.project-bg-2
			+project-sections("Branding & Design", "Future Street Cred", "02", "project-brand-cred.html")
		.sections-p-wrapper.project-bg-2
			+project-sections("Branding & Design", "Future Street Cred", "02", "project-brand-cred.html")
	a.btn-wrapper.btn-pages(href="ourwork.html")
		span.btn-animate-up
			+back-icon-btn
block footer
	+footer('')