extends _templates/layout.pug


block content
	#work-sections-strategy.worksections-bg.shader-container
		img.shader-img(src="img/shaders/Campaign_Social-Media-Shader-Negro.jpg", mobsrc="img/shaders/Campaign_Social-Media-Shader-Negro.jpg", alt="Distortioned background")


	.sections-p-wrapper.project-bg-suede
		+project-sections("Campaign & Social Media Strategy ", "Suede Guerrillas ", "01", "project-social-suede.html")
	.sections-p-wrapper.project-bg-power
		+project-sections("Campaign & Social Media Strategy ", "Power Horse", "02", "project-social-power.html")
	a.page_transitioner.navigation-btn.btn-pages(href="ourwork.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn
block footer
	+footer('')