extends _templates/layout.pug
block preloader
	.preloader.color-1.preloader-cut
block content
	.ourwork-sections-detail#event-work
		.background-wrapper.worksections-bg
		//- component
		.sections-p-wrapper.project-bg-1
			+project-sections("Event Curation", "Puma Middle East", "01", "project-event-puma.html")
		.sections-p-wrapper.project-bg-2
			+project-sections("Event Curation", "Amongst Few", "02", "project-event-amongst.html")
	a.btn-wrapper.btn-pages(href="ourwork.html")
		span.btn-animate-up
			+back-icon-btn
block footer
	+footer('')