extends _templates/layout.pug


block content
	.worksections-bg.shader-container
		img.shader-img(src="img/ourwork_sec_bg_opt.jpg", alt="Distortioned background")


	.sections-p-wrapper.project-bg-event-puma
		+project-sections("Event Curation", "Puma Middle East", "01", "project-event-puma.html")
	.sections-p-wrapper.project-bg-event-amongst
		+project-sections("Event Curation", "Amongst Few", "02", "project-event-amongst.html")
	a.page_transitioner.navigation-btn.btn-pages(href="ourwork.html")
		span.animate-up.jb-cascade(data-cascade="fade-up" data-cascade-delay-mobile="1" data-cascade-delay="1")
			+back-icon-btn
block footer
	+footer('')