extends _templates/layout.pug

block content
	.ourwork-sections-detail
		.background-wrapper.worksections-bg
		//- component
		.sections-p-wrapper.project-bg-1
			+project-sections("Social content & Graphic Design", "Puma Middle East", "01", "/")
		.sections-p-wrapper.project-bg-2
			+project-sections("Social content & Graphic Design", "Amongst Few", "02", "/")
		.sections-p-wrapper.project-bg-3
			+project-sections("Social content & Graphic Design", "Amongst Few", "03", "/")
		.sections-p-wrapper.project-bg-4
			+project-sections("Social content & Graphic Design", "Amongst Few", "04", "/")

	button.btn-wrapper.btn-pages
		span.btn-animate-up
			+back-icon-btn